<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">

{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel 14704_Designer_Report print}</h1>
</div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN project_id_fieldheadercolumn}
<th class="runner-cc {$project_id_class}" {$project_id_style}>
	{BEGIN project_id_fieldheader}
	<b>{$label 14704_Designer_Report project_id}</b>
	{END project_id_fieldheader}
</th>
{END project_id_fieldheadercolumn}
	{BEGIN team_fieldheadercolumn}
<th class="runner-cc {$team_class}" {$team_style}>
	{BEGIN team_fieldheader}
	<b>{$label 14704_Designer_Report team}</b>
	{END team_fieldheader}
</th>
{END team_fieldheadercolumn}
	{BEGIN designer2_id_fieldheadercolumn}
<th class="runner-cc {$designer2_id_class}" {$designer2_id_style}>
	{BEGIN designer2_id_fieldheader}
	<b>{$label 14704_Designer_Report designer2_id}</b>
	{END designer2_id_fieldheader}
</th>
{END designer2_id_fieldheadercolumn}
	{BEGIN end2_date_fieldheadercolumn}
<th class="runner-cc {$end2_date_class}" {$end2_date_style}>
	{BEGIN end2_date_fieldheader}
	<b>{$label 14704_Designer_Report end2_date}</b>
	{END end2_date_fieldheader}
</th>
{END end2_date_fieldheadercolumn}
	{BEGIN job_id_fieldheadercolumn}
<th class="runner-cc {$job_id_class}" {$job_id_style}>
	{BEGIN job_id_fieldheader}
	<b>{$label 14704_Designer_Report job_id}</b>
	{END job_id_fieldheader}
</th>
{END job_id_fieldheadercolumn}
	{BEGIN filename_fieldheadercolumn}
<th class="runner-cc {$filename_class}" {$filename_style}>
	{BEGIN filename_fieldheader}
	<b>{$label 14704_Designer_Report filename}</b>
	{END filename_fieldheader}
</th>
{END filename_fieldheadercolumn}
	{BEGIN pdf_estimated_average_fieldheadercolumn}
<th class="runner-cc {$pdf_estimated_average_class}" {$pdf_estimated_average_style}>
	{BEGIN pdf_estimated_average_fieldheader}
	<b>{$label 14704_Designer_Report pdf_estimated_average}</b>
	{END pdf_estimated_average_fieldheader}
</th>
{END pdf_estimated_average_fieldheadercolumn}
	{BEGIN designer2_time_fieldheadercolumn}
<th class="runner-cc {$designer2_time_class}" {$designer2_time_style}>
	{BEGIN designer2_time_fieldheader}
	<b>{$label 14704_Designer_Report designer2_time}</b>
	{END designer2_time_fieldheader}
</th>
{END designer2_time_fieldheadercolumn}
	{BEGIN efficiency_fieldheadercolumn}
<th class="runner-cc {$efficiency_class}" {$efficiency_style}>
	{BEGIN efficiency_fieldheader}
	<b>{$label 14704_Designer_Report efficiency}</b>
	{END efficiency_fieldheader}
</th>
{END efficiency_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN project_id_fieldcolumn}
<td  class="runner-cc {$project_id_class}" {$project_id_style} {$recordattrs}>
	{$project_id_value}
</td>
{END project_id_fieldcolumn}
	{BEGIN team_fieldcolumn}
<td  class="runner-cc {$team_class}" {$team_style} {$recordattrs}>
	{$team_value}
</td>
{END team_fieldcolumn}
	{BEGIN designer2_id_fieldcolumn}
<td  class="runner-cc {$designer2_id_class}" {$designer2_id_style} {$recordattrs}>
	{$designer2_id_value}
</td>
{END designer2_id_fieldcolumn}
	{BEGIN end2_date_fieldcolumn}
<td  class="runner-cc {$end2_date_class}" {$end2_date_style} {$recordattrs}>
	{$end2_date_value}
</td>
{END end2_date_fieldcolumn}
	{BEGIN job_id_fieldcolumn}
<td  class="runner-cc {$job_id_class}" {$job_id_style} {$recordattrs}>
	{$job_id_value}
</td>
{END job_id_fieldcolumn}
	{BEGIN filename_fieldcolumn}
<td  class="runner-cc {$filename_class}" {$filename_style} {$recordattrs}>
	{$filename_value}
</td>
{END filename_fieldcolumn}
	{BEGIN pdf_estimated_average_fieldcolumn}
<td  class="runner-cc {$pdf_estimated_average_class}" {$pdf_estimated_average_style} {$recordattrs}>
	{$pdf_estimated_average_value}
</td>
{END pdf_estimated_average_fieldcolumn}
	{BEGIN designer2_time_fieldcolumn}
<td  class="runner-cc {$designer2_time_class}" {$designer2_time_style} {$recordattrs}>
	{$designer2_time_value}
</td>
{END designer2_time_fieldcolumn}
	{BEGIN efficiency_fieldcolumn}
<td  class="runner-cc {$efficiency_class}" {$efficiency_style} {$recordattrs}>
	{$efficiency_value}
</td>
{END efficiency_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
	{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
