<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN complexity0_tabfieldblock}
<tr class="{$fielddispclass_complexity0}" data-fieldname="complexity0">
	<td class="style1 rnr-label">
		{BEGIN complexity0_label}{$label 18442_Need_QC complexity0}{END complexity0_label}
	</td>
	<td class="rnr-control style3">
		{$complexity0_editcontrol}&nbsp;
	</td>
</tr>
{END complexity0_tabfieldblock}
{BEGIN complexityNP_tabfieldblock}
<tr class="{$fielddispclass_complexityNP}" data-fieldname="complexityNP">
	<td class="style1 rnr-label">
		{BEGIN complexityNP_label}{$label 18442_Need_QC complexityNP}{END complexityNP_label}
	</td>
	<td class="rnr-control style3">
		{$complexityNP_editcontrol}&nbsp;
	</td>
</tr>
{END complexityNP_tabfieldblock}
{BEGIN custom_complexity_tabfieldblock}
<tr class="{$fielddispclass_custom_complexity}" data-fieldname="custom_complexity">
	<td class="style1 rnr-label">
		{BEGIN custom_complexity_label}{$label 18442_Need_QC custom_complexity}{END custom_complexity_label}
	</td>
	<td class="rnr-control style3">
		{$custom_complexity_editcontrol}&nbsp;
	</td>
</tr>
{END custom_complexity_tabfieldblock}
</table>




{END container_1}

</div>