<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN client_id_tabfieldblock}
<tr class="{$fielddispclass_client_id}" data-fieldname="client_id">
	<td class="style1 rnr-label">
		{BEGIN client_id_label}{$label 18442_Need_Notify client_id}{END client_id_label}
	</td>
	<td class="rnr-control style3">
		{$client_id_editcontrol}&nbsp;
	</td>
</tr>
{END client_id_tabfieldblock}
{BEGIN jobstatus_id_tabfieldblock}
<tr class="{$fielddispclass_jobstatus_id}" data-fieldname="jobstatus_id">
	<td class="style1 rnr-label">
		{BEGIN jobstatus_id_label}{$label 18442_Need_Notify jobstatus_id}{END jobstatus_id_label}
	</td>
	<td class="rnr-control style3">
		{$jobstatus_id_editcontrol}&nbsp;
	</td>
</tr>
{END jobstatus_id_tabfieldblock}
{BEGIN reviewer_id_tabfieldblock}
<tr class="{$fielddispclass_reviewer_id}" data-fieldname="reviewer_id">
	<td class="style1 rnr-label">
		{BEGIN reviewer_id_label}{$label 18442_Need_Notify reviewer_id}{END reviewer_id_label}
	</td>
	<td class="rnr-control style3">
		{$reviewer_id_editcontrol}&nbsp;
	</td>
</tr>
{END reviewer_id_tabfieldblock}
{BEGIN reviewed_date_tabfieldblock}
<tr class="{$fielddispclass_reviewed_date}" data-fieldname="reviewed_date">
	<td class="style1 rnr-label">
		{BEGIN reviewed_date_label}{$label 18442_Need_Notify reviewed_date}{END reviewed_date_label}
	</td>
	<td class="rnr-control style3">
		{$reviewed_date_editcontrol}&nbsp;
	</td>
</tr>
{END reviewed_date_tabfieldblock}
{BEGIN pdf_location_tabfieldblock}
<tr class="{$fielddispclass_pdf_location}" data-fieldname="pdf_location">
	<td class="style1 rnr-label">
		{BEGIN pdf_location_label}{$label 18442_Need_Notify pdf_location}{END pdf_location_label}
	</td>
	<td class="rnr-control style3">
		{$pdf_location_editcontrol}&nbsp;
	</td>
</tr>
{END pdf_location_tabfieldblock}
{BEGIN accept_id_tabfieldblock}
<tr class="{$fielddispclass_accept_id}" data-fieldname="accept_id">
	<td class="style1 rnr-label">
		{BEGIN accept_id_label}{$label 18442_Need_Notify accept_id}{END accept_id_label}
	</td>
	<td class="rnr-control style3">
		{$accept_id_editcontrol}&nbsp;
	</td>
</tr>
{END accept_id_tabfieldblock}
{BEGIN accepted_date_tabfieldblock}
<tr class="{$fielddispclass_accepted_date}" data-fieldname="accepted_date">
	<td class="style1 rnr-label">
		{BEGIN accepted_date_label}{$label 18442_Need_Notify accepted_date}{END accepted_date_label}
	</td>
	<td class="rnr-control style3">
		{$accepted_date_editcontrol}&nbsp;
	</td>
</tr>
{END accepted_date_tabfieldblock}
{BEGIN notify_date_tabfieldblock}
<tr class="{$fielddispclass_notify_date}" data-fieldname="notify_date">
	<td class="style1 rnr-label">
		{BEGIN notify_date_label}{$label 18442_Need_Notify notify_date}{END notify_date_label}
	</td>
	<td class="rnr-control style3">
		{$notify_date_editcontrol}&nbsp;
	</td>
</tr>
{END notify_date_tabfieldblock}
{BEGIN notifer_id_tabfieldblock}
<tr class="{$fielddispclass_notifer_id}" data-fieldname="notifer_id">
	<td class="style1 rnr-label">
		{BEGIN notifer_id_label}{$label 18442_Need_Notify notifer_id}{END notifer_id_label}
	</td>
	<td class="rnr-control style3">
		{$notifer_id_editcontrol}&nbsp;
	</td>
</tr>
{END notifer_id_tabfieldblock}
{BEGIN project_id_tabfieldblock}
<tr class="{$fielddispclass_project_id}" data-fieldname="project_id">
	<td class="style1 rnr-label">
		{BEGIN project_id_label}{$label 18442_Need_Notify project_id}{END project_id_label}
	</td>
	<td class="rnr-control style3">
		{$project_id_editcontrol}&nbsp;
	</td>
</tr>
{END project_id_tabfieldblock}
</table>




{END container_1}

</div>