<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="client_name">
	{$client_name_editcontrol}
	</control>
	<control field="priority">
	{$priority_editcontrol}
	</control>
	<control field="client_group">
	{$client_group_editcontrol}
	</control>
	<control field="client_username">
	{$client_username_editcontrol}
	</control>
	<control field="client_password">
	{$client_password_editcontrol}
	</control>
	<control field="contact_fname">
	{$contact_fname_editcontrol}
	</control>
	<control field="contact_lname">
	{$contact_lname_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<control field="phone">
	{$phone_editcontrol}
	</control>
	<control field="mobile">
	{$mobile_editcontrol}
	</control>
	<control field="address">
	{$address_editcontrol}
	</control>
	<control field="country">
	{$country_editcontrol}
	</control>
	<control field="preferred_currency">
	{$preferred_currency_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>