<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel rejected_jobfile add}
                          </h1>
</span></div>{END addheader}


{BEGIN message_block}<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields2_atop {$brickclass_addfields2_atop}"><TABLE class="fieldGrid fieldGrid2 edit" style="width: 487px;">
                              <TBODY>
                                <tr>
<TD style="width: 224px;" rowspan="1" colspan="1">
                                    {BEGIN rejected_jobfile_status_id_fieldblock}<div data-fieldname="rejected_jobfile_status_id" class="rnr-field style1 {$fielddispclass_rejected_jobfile_status_id}">
  <div class="rnr-label above">{BEGIN rejected_jobfile_status_id_label}{$label Correction_Files Correction_Files_status_id}
                                          {END rejected_jobfile_status_id_label}</div>
  <div class="rnr-control style3">{$rejected_jobfile_status_id_editcontrol}</div>
</div>
{END rejected_jobfile_status_id_fieldblock}
	{BEGIN job_id_fieldblock}<div data-fieldname="job_id" class="rnr-field style1 {$fielddispclass_job_id}">
  <div class="rnr-label above">{BEGIN job_id_label}{$label Correction_Files job_id}{END job_id_label}</div>
  <div class="rnr-control style3">{$job_id_editcontrol}</div>
</div>
{END job_id_fieldblock}
	{BEGIN pdf_id_fieldblock}<div data-fieldname="pdf_id" class="rnr-field style1 {$fielddispclass_pdf_id}">
  <div class="rnr-label above">{BEGIN pdf_id_label}{$label Correction_Files pdf_id}{END pdf_id_label}</div>
  <div class="rnr-control style3">{$pdf_id_editcontrol}</div>
</div>
{END pdf_id_fieldblock}
	{BEGIN rejector_id_fieldblock}<div data-fieldname="rejector_id" class="rnr-field style1 {$fielddispclass_rejector_id}">
  <div class="rnr-label above">{BEGIN rejector_id_label}{$label Correction_Files rejector_id}{END rejector_id_label}</div>
  <div class="rnr-control style3">{$rejector_id_editcontrol}</div>
</div>
{END rejector_id_fieldblock}
	{BEGIN reject_date_fieldblock}<div data-fieldname="reject_date" class="rnr-field style1 {$fielddispclass_reject_date}">
  <div class="rnr-label above">{BEGIN reject_date_label}{$label Correction_Files reject_date}{END reject_date_label}</div>
  <div class="rnr-control style3">{$reject_date_editcontrol}</div>
</div>
{END reject_date_fieldblock}
	{BEGIN original_designer_fieldblock}<div data-fieldname="original_designer" class="rnr-field style1 {$fielddispclass_original_designer}">
  <div class="rnr-label above">{BEGIN original_designer_label}{$label Correction_Files original_designer}{END original_designer_label}</div>
  <div class="rnr-control style3">{$original_designer_editcontrol}</div>
</div>
{END original_designer_fieldblock}
	{BEGIN original_designer2_fieldblock}<div data-fieldname="original_designer2" class="rnr-field style1 {$fielddispclass_original_designer2}">
  <div class="rnr-label above">{BEGIN original_designer2_label}{$label Correction_Files original_designer2}{END original_designer2_label}</div>
  <div class="rnr-control style3">{$original_designer2_editcontrol}</div>
</div>
{END original_designer2_fieldblock}
	{BEGIN original_qc_fieldblock}<div data-fieldname="original_qc" class="rnr-field style1 {$fielddispclass_original_qc}">
  <div class="rnr-label above">{BEGIN original_qc_label}{$label Correction_Files original_qc}{END original_qc_label}</div>
  <div class="rnr-control style3">{$original_qc_editcontrol}</div>
</div>
{END original_qc_fieldblock}
</td>
<TD style="width: 224px;" rowspan="1" colspan="1">
                                    {BEGIN original_jobfile_id_fieldblock}<div data-fieldname="original_jobfile_id" class="rnr-field style1 {$fielddispclass_original_jobfile_id}">
  <div class="rnr-label above">{BEGIN original_jobfile_id_label}{$label Correction_Files original_jobfile_id}{END original_jobfile_id_label}</div>
  <div class="rnr-control style3">{$original_jobfile_id_editcontrol}</div>
</div>
{END original_jobfile_id_fieldblock}
	{BEGIN jobfile_id_fieldblock}<div data-fieldname="jobfile_id" class="rnr-field style1 {$fielddispclass_jobfile_id}">
  <div class="rnr-label above">{BEGIN jobfile_id_label}{$label Correction_Files jobfile_id}{END jobfile_id_label}</div>
  <div class="rnr-control style3">{$jobfile_id_editcontrol}</div>
</div>
{END jobfile_id_fieldblock}
	{BEGIN reject_reason_fieldblock}<div data-fieldname="reject_reason" class="rnr-field style1 {$fielddispclass_reject_reason}">
  <div class="rnr-label above">{BEGIN reject_reason_label}{$label Correction_Files reject_reason}{END reject_reason_label}</div>
  <div class="rnr-control style3">{$reject_reason_editcontrol}</div>
</div>
{END reject_reason_fieldblock}
	{BEGIN cr_designer_id_fieldblock}<div data-fieldname="cr_designer_id" class="rnr-field style1 {$fielddispclass_cr_designer_id}">
  <div class="rnr-label above">{BEGIN cr_designer_id_label}{$label Correction_Files cr_designer_id}{END cr_designer_id_label}</div>
  <div class="rnr-control style3">{$cr_designer_id_editcontrol}</div>
</div>
{END cr_designer_id_fieldblock}
	{BEGIN cr_comment_fieldblock}<div data-fieldname="cr_comment" class="rnr-field style1 {$fielddispclass_cr_comment}">
  <div class="rnr-label above">{BEGIN cr_comment_label}{$label Correction_Files cr_comment}{END cr_comment_label}</div>
  <div class="rnr-control style3">{$cr_comment_editcontrol}</div>
</div>
{END cr_comment_fieldblock}
</td>
<TD class=" runner-cc" style="width: 0px;" rowspan="1" colspan="1">
                                    {BEGIN screencap_fieldblock}<div data-fieldname="screencap" class="rnr-field style1 {$fielddispclass_screencap}">
  <div class="rnr-label above">{BEGIN screencap_label}{$label Correction_Files screencap}{END screencap_label}</div>
  <div class="rnr-control style3">{$screencap_editcontrol}</div>
</div>
{END screencap_fieldblock}
                                    {BEGIN type_of_error_fieldblock}<div data-fieldname="type_of_error" class="rnr-field style1 {$fielddispclass_type_of_error}">
  <div class="rnr-label above">{BEGIN type_of_error_label}{$label Correction_Files type_of_error}{END type_of_error_label}</div>
  <div class="rnr-control style3">{$type_of_error_editcontrol}</div>
</div>
{END type_of_error_fieldblock}
                                  </TD>
                                </tr>
</TBODY>
                            </table></div>


{BEGIN addbuttons}<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
	{END reset_button}
	{BEGIN cancel_button}<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}
	{BEGIN back_button}<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
	{END back_button}
	{BEGIN backToMenu_button}<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
