<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-rprint" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}





{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">


<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {background-color:#ffffbb;}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color:#ffe0b0;}
	.rnr-report {width: 100%;}
	td {padding: 2px; 4px;}

		td.group_1{background-color: #90EE90;}
		td.nbgroup_1{background-color: #90EE90;}
		td.header_1 {
			background-color: #7ACA7A; 
			font-size:120%;
			padding: 2px 8px;
			font-weight: bold;
		}

		td.group_2{background-color: #ADD8E6;}
		td.nbgroup_2{background-color: #ADD8E6;}
		td.header_2 {
			background-color: #93B7C3; 
			font-size:120%;
			padding: 2px 8px;
			font-weight: bold;
		}
	td.blackshade {
		font-size:140%;
		padding: 4px 8px;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
	.fieldnamesrow > * 
	{
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}

</style>



{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}"><span>	<h1>{$pagetitlelabel Daily_Work_Summery rprint}</h1>
</span></div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_grid}



<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {background-color:#ffffbb;}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color:#ffe0b0;}
	.rnr-report {width: 100%;}
	td {padding: 2px; 4px;}

		td.group_1{background-color: #90EE90;}
		td.nbgroup_1{background-color: #90EE90;}
		td.header_1 {
			background-color: #7ACA7A; 
			font-size:120%;
			padding: 2px 8px;
			font-weight: bold;
		}

		td.group_2{background-color: #ADD8E6;}
		td.nbgroup_2{background-color: #ADD8E6;}
		td.header_2 {
			background-color: #93B7C3; 
			font-size:120%;
			padding: 2px 8px;
			font-weight: bold;
		}
	td.blackshade {
		font-size:140%;
		padding: 4px 8px;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
	.fieldnamesrow > * 
	{
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}

</style>

<div id="grid_block{$id}" class="rnr-report-gridblock">
		<div class="rnr-cw-grid rnr-s-empty asbuttons {$pageStyleName}">		
						<div class="rnr-c rnr-cv rnr-c-grid">
		<div class="rnr-brickcontents style1 rnr-b-report">		
			<table class="rnr-report" cellspacing=0 cellpadding=0 border=0>
				
				
				{BEGIN grid_row}
				<!-------------------------------------  group headers ----------------------------------------->
				{BEGIN work_date_newgroup}
				<tr class="group-spliter-1" >
								<td class=header_1 colspan=17>
				{$label Daily_Work_Summery work_date}:&nbsp;
				<font style="font-weight:900">
				{$work_date_grval}
								</font></td>
				</tr>
								{END work_date_newgroup}
				{BEGIN team_id_newgroup}
				<tr class="group-spliter-2" {$rowattrs}>
								<td class=header_2 colspan=17>
				{$label Daily_Work_Summery team_id}:&nbsp;
				<font style="font-weight:900">
				{$team_id_grval}
													</font></td>
				</tr>
								<tr class="fieldnamesrow group-headers">
										<td class="blackshade">{$label Daily_Work_Summery user_name}</td>
					<td class="blackshade">{$label Daily_Work_Summery user_group}</td>
					<td class="blackshade">{$label Daily_Work_Summery designer_done}</td>
					<td class="blackshade">{$label Daily_Work_Summery designer_eta}</td>
					<td class="blackshade">{$label Daily_Work_Summery designer_time}</td>
					<td class="blackshade">{$label Daily_Work_Summery rejected_by_qc}</td>
					<td class="blackshade">{$label Daily_Work_Summery rejected_designer_ETA}</td>
					<td class="blackshade">{$label Daily_Work_Summery rejected_designer_time}</td>
					<td class="blackshade">{$label Daily_Work_Summery QC_done}</td>
					<td class="blackshade">{$label Daily_Work_Summery qc_eta}</td>
					<td class="blackshade">{$label Daily_Work_Summery qc_time}</td>
					<td class="blackshade">{$label Daily_Work_Summery rejected_customer}</td>
					<td class="blackshade">{$label Daily_Work_Summery rejected_customer_eta}</td>
					<td class="blackshade">{$label Daily_Work_Summery rejected_customer_time}</td>
					<td class="blackshade">{$label Daily_Work_Summery total_eta}</td>
					<td class="blackshade">{$label Daily_Work_Summery performance}</td>
					<td class="blackshade">{$label Daily_Work_Summery comments}</td>
				</tr>
				{END team_id_newgroup}
								<!-------------------------------------  data ----------------------------------------->
				{BEGIN row_data}
				<tr >
										<td class=data>{$user_name_value}</td>
					<td class=data>{$user_group_value}</td>
					<td class=data>{$designer_done_value}</td>
					<td class=data>{$designer_eta_value}</td>
					<td class=data>{$designer_time_value}</td>
					<td class=data>{$rejected_by_qc_value}</td>
					<td class=data>{$rejected_designer_ETA_value}</td>
					<td class=data>{$rejected_designer_time_value}</td>
					<td class=data>{$QC_done_value}</td>
					<td class=data>{$qc_eta_value}</td>
					<td class=data>{$qc_time_value}</td>
					<td class=data>{$rejected_customer_value}</td>
					<td class=data>{$rejected_customer_eta_value}</td>
					<td class=data>{$rejected_customer_time_value}</td>
					<td class=data>{$total_eta_value}</td>
					<td class=data>{$performance_value}</td>
					<td class=data>{$comments_value}</td>
				</tr>
				{END row_data}
				<!-------------------------------------  group summary ----------------------------------------->
								{BEGIN team_id_endgroup}
				<tr >
										<td class=group_2 colspan=17 >
					Summary for {$label Daily_Work_Summery team_id} {$team_id_grval}
					 - <span class="summary-2" data-type="summary" data-value="{$groupteam_id_total_cnt}">{$groupteam_id_total_cnt}</span> records total</td>
				</tr>
								<!--  Sum -->
				<tr >
					<td class=group_2>
												Sum
						&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
												<span class="summary-2" data-type="sum" data-value="{$groupteam_id_totaldesigner_done_sum}" data-field="designer_done">{$groupteam_id_totaldesigner_done_sum}</span>
					</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
												<span class="summary-2" data-type="sum" data-value="{$groupteam_id_totalrejected_by_qc_sum}" data-field="rejected_by_qc">{$groupteam_id_totalrejected_by_qc_sum}</span>
					</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
												<span class="summary-2" data-type="sum" data-value="{$groupteam_id_totalQC_done_sum}" data-field="QC_done">{$groupteam_id_totalQC_done_sum}</span>
					</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
												<span class="summary-2" data-type="sum" data-value="{$groupteam_id_totalrejected_customer_sum}" data-field="rejected_customer">{$groupteam_id_totalrejected_customer_sum}</span>
					</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
											</td>
					<td class=group_2>
												&nbsp;
											</td>
				</tr>	
																{END team_id_endgroup}
								{BEGIN work_date_endgroup}
				<tr >
										<td class=group_1 colspan=17 >
					Summary for {$label Daily_Work_Summery work_date} {$work_date_grval}
					 - <span class="summary-1" data-type="summary" data-value="{$groupwork_date_total_cnt}">{$groupwork_date_total_cnt}</span> records total</td>
				</tr>
								<!--  Sum -->
				<tr >
					<td class=group_1>
												Sum
						&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
												<span class="summary-1" data-type="sum" data-value="{$groupwork_date_totaldesigner_done_sum}" data-field="designer_done">{$groupwork_date_totaldesigner_done_sum}</span>
					</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
												<span class="summary-1" data-type="sum" data-value="{$groupwork_date_totalrejected_by_qc_sum}" data-field="rejected_by_qc">{$groupwork_date_totalrejected_by_qc_sum}</span>
					</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
												<span class="summary-1" data-type="sum" data-value="{$groupwork_date_totalQC_done_sum}" data-field="QC_done">{$groupwork_date_totalQC_done_sum}</span>
					</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
												<span class="summary-1" data-type="sum" data-value="{$groupwork_date_totalrejected_customer_sum}" data-field="rejected_customer">{$groupwork_date_totalrejected_customer_sum}</span>
					</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
											</td>
					<td class=group_1>
												&nbsp;
											</td>
				</tr>	
																{END work_date_endgroup}
				{END grid_row}
								<tr class="summary-header">
				<td class=blackshade>{$label Daily_Work_Summery user_name}</td>
				<td class=blackshade>{$label Daily_Work_Summery user_group}</td>
				<td class=blackshade>{$label Daily_Work_Summery designer_done}</td>
				<td class=blackshade>{$label Daily_Work_Summery designer_eta}</td>
				<td class=blackshade>{$label Daily_Work_Summery designer_time}</td>
				<td class=blackshade>{$label Daily_Work_Summery rejected_by_qc}</td>
				<td class=blackshade>{$label Daily_Work_Summery rejected_designer_ETA}</td>
				<td class=blackshade>{$label Daily_Work_Summery rejected_designer_time}</td>
				<td class=blackshade>{$label Daily_Work_Summery QC_done}</td>
				<td class=blackshade>{$label Daily_Work_Summery qc_eta}</td>
				<td class=blackshade>{$label Daily_Work_Summery qc_time}</td>
				<td class=blackshade>{$label Daily_Work_Summery rejected_customer}</td>
				<td class=blackshade>{$label Daily_Work_Summery rejected_customer_eta}</td>
				<td class=blackshade>{$label Daily_Work_Summery rejected_customer_time}</td>
				<td class=blackshade>{$label Daily_Work_Summery total_eta}</td>
				<td class=blackshade>{$label Daily_Work_Summery performance}</td>
				<td class=blackshade>{$label Daily_Work_Summery comments}</td>
				</tr>
								<!--------------------------------------page summary-------------------------------------------->
				<tr class="summaryrow summary-page">
										<td class=pagesummary colspan=17>Page summary
					 <span class="page-summary" data-type="summary">{$page_total_cnt}</span> - records total</td>
				</tr>
								<!--  Sum -->
				<tr class="summary-page">
					<td class=pagesummary>
												Sum
						&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
												<span class="page-summary" data-type="sum" data-field="designer_done">{$page_totaldesigner_done_sum}</span>
					</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
												<span class="page-summary" data-type="sum" data-field="rejected_by_qc">{$page_totalrejected_by_qc_sum}</span>
					</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
												<span class="page-summary" data-type="sum" data-field="QC_done">{$page_totalQC_done_sum}</span>
					</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
												<span class="page-summary" data-type="sum" data-field="rejected_customer">{$page_totalrejected_customer_sum}</span>
					</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
											</td>
					<td class=pagesummary>
												&nbsp;
											</td>
				</tr>	
																				</table>
		</div>
	</div>
	</div>
</div>





{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
