<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="report_reference">
	{$report_reference_editcontrol}
	</control>
	<control 
	field="work_date">
	{$work_date_editcontrol}
	</control>
	<control 
	field="designer_name">
	{$designer_name_editcontrol}
	</control>
	<control 
	field="team_id">
	{$team_id_editcontrol}
	</control>
	<control 
	field="subdiv_id">
	{$subdiv_id_editcontrol}
	</control>
	<control 
	field="user_group">
	{$user_group_editcontrol}
	</control>
	<control 
	field="pdf_name">
	{$pdf_name_editcontrol}
	</control>
	<control 
	field="estimated_time">
	{$estimated_time_editcontrol}
	</control>
	<control 
	field="designer_time">
	{$designer_time_editcontrol}
	</control>
	<control 
	field="qc_time">
	{$qc_time_editcontrol}
	</control>
	<control 
	field="efficiency">
	{$efficiency_editcontrol}
	</control>
	<control 
	field="total_images_counted">
	{$total_images_counted_editcontrol}
	</control>
	<control 
	field="comments">
	{$comments_editcontrol}
	</control>
	<control 
	field="work_type">
	{$work_type_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
