<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel Designer_Filesheet masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$job_pdf_name_class}">{$label Designer_Filesheet job_pdf_name}</th>
			<th class="{$jobfile_id_class}">{$label Designer_Filesheet jobfile_id}</th>
			<th class="{$file_url_class}">{$label Designer_Filesheet file_url}</th>
			<th class="{$client_id_class}">{$label Designer_Filesheet client_id}</th>
			<th class="{$work_id_class}">{$label Designer_Filesheet work_id}</th>
			<th class="{$job_id_class}">{$label Designer_Filesheet job_id}</th>
			<th class="{$project_id_class}">{$label Designer_Filesheet project_id}</th>
			<th class="{$folder_name_class}">{$label Designer_Filesheet folder_name}</th>
			<th class="{$filename_class}">{$label Designer_Filesheet filename}</th>
			<th class="{$jobfile_type_class}">{$label Designer_Filesheet jobfile_type}</th>
			<th class="{$jobfile_note_class}">{$label Designer_Filesheet jobfile_note}</th>
			<th class="{$jobfile_status_id_class}">{$label Designer_Filesheet jobfile_status_id}</th>
			<th class="{$downloader_id_class}">{$label Designer_Filesheet downloader_id}</th>
			<th class="{$distributor_id_class}">{$label Designer_Filesheet distributor_id}</th>
			<th class="{$designer_id_class}">{$label Designer_Filesheet designer_id}</th>
			<th class="{$qc_id_class}">{$label Designer_Filesheet qc_id}</th>
			<th class="{$uploader_id_class}">{$label Designer_Filesheet uploader_id}</th>
			<th class="{$notifier_id_class}">{$label Designer_Filesheet notifier_id}</th>
			<th class="{$rejector_id_class}">{$label Designer_Filesheet rejector_id}</th>
			<th class="{$download_date_class}">{$label Designer_Filesheet download_date}</th>
			<th class="{$distribute_date_class}">{$label Designer_Filesheet distribute_date}</th>
			<th class="{$start_date_class}">{$label Designer_Filesheet start_date}</th>
			<th class="{$end_date_class}">{$label Designer_Filesheet end_date}</th>
			<th class="{$designer_time_class}">{$label Designer_Filesheet designer_time}</th>
			<th class="{$qcstart_date_class}">{$label Designer_Filesheet qcstart_date}</th>
			<th class="{$qcend_date_class}">{$label Designer_Filesheet qcend_date}</th>
			<th class="{$qc_time_class}">{$label Designer_Filesheet qc_time}</th>
			<th class="{$total_time_taken_class}">{$label Designer_Filesheet total_time_taken}</th>
			<th class="{$upload_date_class}">{$label Designer_Filesheet upload_date}</th>
			<th class="{$notify_date_class}">{$label Designer_Filesheet notify_date}</th>
			<th class="{$reject_date_class}">{$label Designer_Filesheet reject_date}</th>
			<th class="{$reject_reason_class}">{$label Designer_Filesheet reject_reason}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$job_pdf_name_class}">{$job_pdf_name_mastervalue}</td>
			<td class="{$jobfile_id_class}">{$jobfile_id_mastervalue}</td>
			<td class="{$file_url_class}">{$file_url_mastervalue}</td>
			<td class="{$client_id_class}">{$client_id_mastervalue}</td>
			<td class="{$work_id_class}">{$work_id_mastervalue}</td>
			<td class="{$job_id_class}">{$job_id_mastervalue}</td>
			<td class="{$project_id_class}">{$project_id_mastervalue}</td>
			<td class="{$folder_name_class}">{$folder_name_mastervalue}</td>
			<td class="{$filename_class}">{$filename_mastervalue}</td>
			<td class="{$jobfile_type_class}">{$jobfile_type_mastervalue}</td>
			<td class="{$jobfile_note_class}">{$jobfile_note_mastervalue}</td>
			<td class="{$jobfile_status_id_class}">{$jobfile_status_id_mastervalue}</td>
			<td class="{$downloader_id_class}">{$downloader_id_mastervalue}</td>
			<td class="{$distributor_id_class}">{$distributor_id_mastervalue}</td>
			<td class="{$designer_id_class}">{$designer_id_mastervalue}</td>
			<td class="{$qc_id_class}">{$qc_id_mastervalue}</td>
			<td class="{$uploader_id_class}">{$uploader_id_mastervalue}</td>
			<td class="{$notifier_id_class}">{$notifier_id_mastervalue}</td>
			<td class="{$rejector_id_class}">{$rejector_id_mastervalue}</td>
			<td class="{$download_date_class}">{$download_date_mastervalue}</td>
			<td class="{$distribute_date_class}">{$distribute_date_mastervalue}</td>
			<td class="{$start_date_class}">{$start_date_mastervalue}</td>
			<td class="{$end_date_class}">{$end_date_mastervalue}</td>
			<td class="{$designer_time_class}">{$designer_time_mastervalue}</td>
			<td class="{$qcstart_date_class}">{$qcstart_date_mastervalue}</td>
			<td class="{$qcend_date_class}">{$qcend_date_mastervalue}</td>
			<td class="{$qc_time_class}">{$qc_time_mastervalue}</td>
			<td class="{$total_time_taken_class}">{$total_time_taken_mastervalue}</td>
			<td class="{$upload_date_class}">{$upload_date_mastervalue}</td>
			<td class="{$notify_date_class}">{$notify_date_mastervalue}</td>
			<td class="{$reject_date_class}">{$reject_date_mastervalue}</td>
			<td class="{$reject_reason_class}">{$reject_reason_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>