<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-report" {$bodyattrs}>
	{BEGIN body}{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			
		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_grid}<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {background-color:#ffffbb;}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color:#ffe0b0;}

</style>

			{BEGIN grid_block}<TABLE class="rnr-c rnr-b-report report" bordercolor style="width: 100%;" bgcolor border="0" cellspacing="2" cellpadding="0">
  <thead>
</thead>
<tbody>
{BEGIN grid_row}{BEGIN row_data}<tr class="rnr-row style1" {$rowattrs}>

	
		

	<TD rowspan="1" colspan="1" {$recordattrs}>Files&nbsp;Notified</td>
	<TD rowspan="1" colspan="1" {$recordattrs}>
      <DIV align="right">
      {$Files_value}</DIV></td>
	<TD class="rnr-edge" rowspan="1" colspan="1" {$recordattrs}></td>
</tr>
{END row_data}
{END grid_row}
</tbody>
</table>
{END grid_block}





{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
