<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="created">
	{$created_editcontrol}
	</control>
	<control 
	field="body">
	{$body_editcontrol}
	</control>
	<control 
	field="to_email">
	{$to_email_editcontrol}
	</control>
	<control 
	field="subject">
	{$subject_editcontrol}
	</control>
	<control 
	field="message_id">
	{$message_id_editcontrol}
	</control>
	<control 
	field="maildate">
	{$maildate_editcontrol}
	</control>
	<control 
	field="from_email">
	{$from_email_editcontrol}
	</control>
	<control 
	field="to_name">
	{$to_name_editcontrol}
	</control>
	<control 
	field="from_name">
	{$from_name_editcontrol}
	</control>
	<control 
	field="attachment">
	{$attachment_editcontrol}
	</control>
	<control 
	field="cc">
	{$cc_editcontrol}
	</control>
	<control 
	field="bcc">
	{$bcc_editcontrol}
	</control>
	<control 
	field="server_id">
	{$server_id_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
