<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN work_id_tabfieldblock}
<tr class="{$fielddispclass_work_id}" data-fieldname="work_id">
	<td class="style1 rnr-label">
		{BEGIN work_id_label}{$label Need_Download work_id}{END work_id_label}
	</td>
	<td class="rnr-control style3">
		{$work_id_editcontrol}&nbsp;
	</td>
</tr>
{END work_id_tabfieldblock}
{BEGIN notify_options_tabfieldblock}
<tr class="{$fielddispclass_notify_options}" data-fieldname="notify_options">
	<td class="style1 rnr-label">
		{BEGIN notify_options_label}{$label Need_Download notify_options}{END notify_options_label}
	</td>
	<td class="rnr-control style3">
		{$notify_options_editcontrol}&nbsp;
	</td>
</tr>
{END notify_options_tabfieldblock}
{BEGIN client_id_tabfieldblock}
<tr class="{$fielddispclass_client_id}" data-fieldname="client_id">
	<td class="style1 rnr-label">
		{BEGIN client_id_label}{$label Need_Download client_id}{END client_id_label}
	</td>
	<td class="rnr-control style3">
		{$client_id_editcontrol}&nbsp;
	</td>
</tr>
{END client_id_tabfieldblock}
{BEGIN jobstatus_id_tabfieldblock}
<tr class="{$fielddispclass_jobstatus_id}" data-fieldname="jobstatus_id">
	<td class="style1 rnr-label">
		{BEGIN jobstatus_id_label}{$label Need_Download jobstatus_id}{END jobstatus_id_label}
	</td>
	<td class="rnr-control style3">
		{$jobstatus_id_editcontrol}&nbsp;
	</td>
</tr>
{END jobstatus_id_tabfieldblock}
{BEGIN reviewer_id_tabfieldblock}
<tr class="{$fielddispclass_reviewer_id}" data-fieldname="reviewer_id">
	<td class="style1 rnr-label">
		{BEGIN reviewer_id_label}{$label Need_Download reviewer_id}{END reviewer_id_label}
	</td>
	<td class="rnr-control style3">
		{$reviewer_id_editcontrol}&nbsp;
	</td>
</tr>
{END reviewer_id_tabfieldblock}
{BEGIN reviewed_date_tabfieldblock}
<tr class="{$fielddispclass_reviewed_date}" data-fieldname="reviewed_date">
	<td class="style1 rnr-label">
		{BEGIN reviewed_date_label}{$label Need_Download reviewed_date}{END reviewed_date_label}
	</td>
	<td class="rnr-control style3">
		{$reviewed_date_editcontrol}&nbsp;
	</td>
</tr>
{END reviewed_date_tabfieldblock}
{BEGIN pdf_location_tabfieldblock}
<tr class="{$fielddispclass_pdf_location}" data-fieldname="pdf_location">
	<td class="style1 rnr-label">
		{BEGIN pdf_location_label}{$label Need_Download pdf_location}{END pdf_location_label}
	</td>
	<td class="rnr-control style3">
		{$pdf_location_editcontrol}&nbsp;
	</td>
</tr>
{END pdf_location_tabfieldblock}
</table>




{END container_1}

</div>