<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN client_id_tabfieldblock}
<tr class="{$fielddispclass_client_id}" data-fieldname="client_id">
	<td class="style1 rnr-label">
		{$label Need_Upload client_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_client_id">
		{$client_id_value}
		</div>
	</td>
</tr>
{END client_id_tabfieldblock}
{BEGIN jobstatus_id_tabfieldblock}
<tr class="{$fielddispclass_jobstatus_id}" data-fieldname="jobstatus_id">
	<td class="style1 rnr-label">
		{$label Need_Upload jobstatus_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_jobstatus_id">
		{$jobstatus_id_value}
		</div>
	</td>
</tr>
{END jobstatus_id_tabfieldblock}
{BEGIN reviewer_id_tabfieldblock}
<tr class="{$fielddispclass_reviewer_id}" data-fieldname="reviewer_id">
	<td class="style1 rnr-label">
		{$label Need_Upload reviewer_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_reviewer_id">
		{$reviewer_id_value}
		</div>
	</td>
</tr>
{END reviewer_id_tabfieldblock}
{BEGIN reviewed_date_tabfieldblock}
<tr class="{$fielddispclass_reviewed_date}" data-fieldname="reviewed_date">
	<td class="style1 rnr-label">
		{$label Need_Upload reviewed_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_reviewed_date">
		{$reviewed_date_value}
		</div>
	</td>
</tr>
{END reviewed_date_tabfieldblock}
{BEGIN accept_id_tabfieldblock}
<tr class="{$fielddispclass_accept_id}" data-fieldname="accept_id">
	<td class="style1 rnr-label">
		{$label Need_Upload accept_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_accept_id">
		{$accept_id_value}
		</div>
	</td>
</tr>
{END accept_id_tabfieldblock}
{BEGIN accepted_date_tabfieldblock}
<tr class="{$fielddispclass_accepted_date}" data-fieldname="accepted_date">
	<td class="style1 rnr-label">
		{$label Need_Upload accepted_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_accepted_date">
		{$accepted_date_value}
		</div>
	</td>
</tr>
{END accepted_date_tabfieldblock}
{BEGIN notifer_id_tabfieldblock}
<tr class="{$fielddispclass_notifer_id}" data-fieldname="notifer_id">
	<td class="style1 rnr-label">
		{$label Need_Upload notifer_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_notifer_id">
		{$notifer_id_value}
		</div>
	</td>
</tr>
{END notifer_id_tabfieldblock}
{BEGIN notify_date_tabfieldblock}
<tr class="{$fielddispclass_notify_date}" data-fieldname="notify_date">
	<td class="style1 rnr-label">
		{$label Need_Upload notify_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_notify_date">
		{$notify_date_value}
		</div>
	</td>
</tr>
{END notify_date_tabfieldblock}
{BEGIN pdf_location_tabfieldblock}
<tr class="{$fielddispclass_pdf_location}" data-fieldname="pdf_location">
	<td class="style1 rnr-label">
		{$label Need_Upload pdf_location}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_pdf_location">
		{$pdf_location_value}
		</div>
	</td>
</tr>
{END pdf_location_tabfieldblock}
</table>




{END container_1}

</div>