<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel pdf_admin edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields2_atop {$brickclass_editfields2_atop}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN pdf_estimated_average2_fieldblock}
<div data-fieldname="pdf_estimated_average2" class="rnr-field style1 {$fielddispclass_pdf_estimated_average2}">
  <div class="rnr-label above">{BEGIN pdf_estimated_average2_label}{$label pdf_admin pdf_estimated_average2}{END pdf_estimated_average2_label}</div>
  <div class="rnr-control style3">{$pdf_estimated_average2_editcontrol}</div>
</div>
{END pdf_estimated_average2_fieldblock}
	{BEGIN pdf_estimated_average1_fieldblock}
<div data-fieldname="pdf_estimated_average1" class="rnr-field style1 {$fielddispclass_pdf_estimated_average1}">
  <div class="rnr-label above">{BEGIN pdf_estimated_average1_label}{$label pdf_admin pdf_estimated_average1}{END pdf_estimated_average1_label}</div>
  <div class="rnr-control style3">{$pdf_estimated_average1_editcontrol}</div>
</div>
{END pdf_estimated_average1_fieldblock}
	{BEGIN pdf_id_fieldblock}
<div data-fieldname="pdf_id" class="rnr-field style1 {$fielddispclass_pdf_id}">
  <div class="rnr-label above">{BEGIN pdf_id_label}{$label pdf_admin pdf_id}{END pdf_id_label}</div>
  <div class="rnr-control style3">{$pdf_id_editcontrol}</div>
</div>
{END pdf_id_fieldblock}
	{BEGIN client_id_fieldblock}
<div data-fieldname="client_id" class="rnr-field style1 {$fielddispclass_client_id}">
  <div class="rnr-label above">{BEGIN client_id_label}{$label pdf_admin client_id}{END client_id_label}</div>
  <div class="rnr-control style3">{$client_id_editcontrol}</div>
</div>
{END client_id_fieldblock}
</td>
<td>
	{BEGIN pdf_name_fieldblock}
<div data-fieldname="pdf_name" class="rnr-field style1 {$fielddispclass_pdf_name}">
  <div class="rnr-label above">{BEGIN pdf_name_label}{$label pdf_admin pdf_name}{END pdf_name_label}</div>
  <div class="rnr-control style3">{$pdf_name_editcontrol}</div>
</div>
{END pdf_name_fieldblock}
	{BEGIN pdf_estimated_average_fieldblock}
<div data-fieldname="pdf_estimated_average" class="rnr-field style1 {$fielddispclass_pdf_estimated_average}">
  <div class="rnr-label above">{BEGIN pdf_estimated_average_label}{$label pdf_admin pdf_estimated_average}{END pdf_estimated_average_label}</div>
  <div class="rnr-control style3">{$pdf_estimated_average_editcontrol}</div>
</div>
{END pdf_estimated_average_fieldblock}
	{BEGIN pdf_location_fieldblock}
<div data-fieldname="pdf_location" class="rnr-field style1 {$fielddispclass_pdf_location}">
  <div class="rnr-label above">{BEGIN pdf_location_label}{$label pdf_admin pdf_location}{END pdf_location_label}</div>
  <div class="rnr-control style3">{$pdf_location_editcontrol}</div>
</div>
{END pdf_location_fieldblock}
	{BEGIN last_update_fieldblock}
<div data-fieldname="last_update" class="rnr-field style1 {$fielddispclass_last_update}">
  <div class="rnr-label above">{BEGIN last_update_label}{$label pdf_admin last_update}{END last_update_label}</div>
  <div class="rnr-control style3">{$last_update_editcontrol}</div>
</div>
{END last_update_fieldblock}
</td>
</tr>
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
