<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="report_id">
	{$report_id_editcontrol}
	</control>
	<control 
	field="pdf_date">
	{$pdf_date_editcontrol}
	</control>
	<control 
	field="pdf_id">
	{$pdf_id_editcontrol}
	</control>
	<control 
	field="pdf_name">
	{$pdf_name_editcontrol}
	</control>
	<control 
	field="pdf_eta">
	{$pdf_eta_editcontrol}
	</control>
	<control 
	field="designer_time">
	{$designer_time_editcontrol}
	</control>
	<control 
	field="qc_time">
	{$qc_time_editcontrol}
	</control>
	<control 
	field="efficiency">
	{$efficiency_editcontrol}
	</control>
	<control 
	field="files">
	{$files_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
