<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel pdf add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields2_atop {$brickclass_addfields2_atop}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN price_fieldblock}
<div data-fieldname="price" class="rnr-field style1 {$fielddispclass_price}">
  <div class="rnr-label above">{BEGIN price_label}{$label pdf price}{END price_label}</div>
  <div class="rnr-control style3">{$price_editcontrol}</div>
</div>
{END price_fieldblock}
	{BEGIN client_id_fieldblock}
<div data-fieldname="client_id" class="rnr-field style1 {$fielddispclass_client_id}">
  <div class="rnr-label above">{BEGIN client_id_label}{$label pdf client_id}{END client_id_label}</div>
  <div class="rnr-control style3">{$client_id_editcontrol}</div>
</div>
{END client_id_fieldblock}
	{BEGIN pdf_name_fieldblock}
<div data-fieldname="pdf_name" class="rnr-field style1 {$fielddispclass_pdf_name}">
  <div class="rnr-label above">{BEGIN pdf_name_label}{$label pdf pdf_name}{END pdf_name_label}</div>
  <div class="rnr-control style3">{$pdf_name_editcontrol}</div>
</div>
{END pdf_name_fieldblock}
</td>
<td>
	{BEGIN pdf_location_fieldblock}
<div data-fieldname="pdf_location" class="rnr-field style1 {$fielddispclass_pdf_location}">
  <div class="rnr-label above">{BEGIN pdf_location_label}{$label pdf pdf_location}{END pdf_location_label}</div>
  <div class="rnr-control style3">{$pdf_location_editcontrol}</div>
</div>
{END pdf_location_fieldblock}
	{BEGIN pdf_estimated_average_fieldblock}
<div data-fieldname="pdf_estimated_average" class="rnr-field style1 {$fielddispclass_pdf_estimated_average}">
  <div class="rnr-label above">{BEGIN pdf_estimated_average_label}{$label pdf pdf_estimated_average}{END pdf_estimated_average_label}</div>
  <div class="rnr-control style3">{$pdf_estimated_average_editcontrol}</div>
</div>
{END pdf_estimated_average_fieldblock}
</td>
</tr>
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
	{END reset_button}
	{BEGIN cancel_button}
	<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}
	{BEGIN back_button}
	<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
	{END back_button}
	{BEGIN backToMenu_button}
	<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
