<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="price">
	{$price_editcontrol}
	</control>
	<control field="pdf_name">
	{$pdf_name_editcontrol}
	</control>
	<control field="pdf_estimated_average">
	{$pdf_estimated_average_editcontrol}
	</control>
	<control field="pdf_estimated_average1">
	{$pdf_estimated_average1_editcontrol}
	</control>
	<control field="pdf_estimated_average2">
	{$pdf_estimated_average2_editcontrol}
	</control>
	<control field="pdf_actual_average">
	{$pdf_actual_average_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>