<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel pdf masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$pdf_estimated_average2_class}">{$label pdf pdf_estimated_average2}</th>
			<th class="{$pdf_estimated_average1_class}">{$label pdf pdf_estimated_average1}</th>
			<th class="{$price_class}">{$label pdf price}</th>
			<th class="{$pdf_id_class}">{$label pdf pdf_id}</th>
			<th class="{$client_id_class}">{$label pdf client_id}</th>
			<th class="{$pdf_name_class}">{$label pdf pdf_name}</th>
			<th class="{$pdf_location_class}">{$label pdf pdf_location}</th>
			<th class="{$last_update_class}">{$label pdf last_update}</th>
			<th class="{$pdf_estimated_average_class}">{$label pdf pdf_estimated_average}</th>
			<th class="{$pdf_actual_average_class}">{$label pdf pdf_actual_average}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$pdf_estimated_average2_class}">{$pdf_estimated_average2_mastervalue}</td>
			<td class="{$pdf_estimated_average1_class}">{$pdf_estimated_average1_mastervalue}</td>
			<td class="{$price_class}">{$price_mastervalue}</td>
			<td class="{$pdf_id_class}">{$pdf_id_mastervalue}</td>
			<td class="{$client_id_class}">{$client_id_mastervalue}</td>
			<td class="{$pdf_name_class}">{$pdf_name_mastervalue}</td>
			<td class="{$pdf_location_class}">{$pdf_location_mastervalue}</td>
			<td class="{$last_update_class}">{$last_update_mastervalue}</td>
			<td class="{$pdf_estimated_average_class}">{$pdf_estimated_average_mastervalue}</td>
			<td class="{$pdf_actual_average_class}">{$pdf_actual_average_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>