<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN downloader_id_tabfieldblock}
<tr class="{$fielddispclass_downloader_id}" data-fieldname="downloader_id">
	<td class="style1 rnr-label">
		{BEGIN downloader_id_label}{$label rejected_job downloader_id}{END downloader_id_label}
	</td>
	<td class="rnr-control style3">
		{$downloader_id_editcontrol}&nbsp;
	</td>
</tr>
{END downloader_id_tabfieldblock}
{BEGIN download_date_tabfieldblock}
<tr class="{$fielddispclass_download_date}" data-fieldname="download_date">
	<td class="style1 rnr-label">
		{BEGIN download_date_label}{$label rejected_job download_date}{END download_date_label}
	</td>
	<td class="rnr-control style3">
		{$download_date_editcontrol}&nbsp;
	</td>
</tr>
{END download_date_tabfieldblock}
{BEGIN distributor_id_tabfieldblock}
<tr class="{$fielddispclass_distributor_id}" data-fieldname="distributor_id">
	<td class="style1 rnr-label">
		{BEGIN distributor_id_label}{$label rejected_job distributor_id}{END distributor_id_label}
	</td>
	<td class="rnr-control style3">
		{$distributor_id_editcontrol}&nbsp;
	</td>
</tr>
{END distributor_id_tabfieldblock}
{BEGIN distribute_date_tabfieldblock}
<tr class="{$fielddispclass_distribute_date}" data-fieldname="distribute_date">
	<td class="style1 rnr-label">
		{BEGIN distribute_date_label}{$label rejected_job distribute_date}{END distribute_date_label}
	</td>
	<td class="rnr-control style3">
		{$distribute_date_editcontrol}&nbsp;
	</td>
</tr>
{END distribute_date_tabfieldblock}
{BEGIN uploader_id_tabfieldblock}
<tr class="{$fielddispclass_uploader_id}" data-fieldname="uploader_id">
	<td class="style1 rnr-label">
		{BEGIN uploader_id_label}{$label rejected_job uploader_id}{END uploader_id_label}
	</td>
	<td class="rnr-control style3">
		{$uploader_id_editcontrol}&nbsp;
	</td>
</tr>
{END uploader_id_tabfieldblock}
{BEGIN upload_date_tabfieldblock}
<tr class="{$fielddispclass_upload_date}" data-fieldname="upload_date">
	<td class="style1 rnr-label">
		{BEGIN upload_date_label}{$label rejected_job upload_date}{END upload_date_label}
	</td>
	<td class="rnr-control style3">
		{$upload_date_editcontrol}&nbsp;
	</td>
</tr>
{END upload_date_tabfieldblock}
{BEGIN notifer_id_tabfieldblock}
<tr class="{$fielddispclass_notifer_id}" data-fieldname="notifer_id">
	<td class="style1 rnr-label">
		{BEGIN notifer_id_label}{$label rejected_job notifer_id}{END notifer_id_label}
	</td>
	<td class="rnr-control style3">
		{$notifer_id_editcontrol}&nbsp;
	</td>
</tr>
{END notifer_id_tabfieldblock}
{BEGIN notify_date_tabfieldblock}
<tr class="{$fielddispclass_notify_date}" data-fieldname="notify_date">
	<td class="style1 rnr-label">
		{BEGIN notify_date_label}{$label rejected_job notify_date}{END notify_date_label}
	</td>
	<td class="rnr-control style3">
		{$notify_date_editcontrol}&nbsp;
	</td>
</tr>
{END notify_date_tabfieldblock}
{BEGIN reviewer_id_tabfieldblock}
<tr class="{$fielddispclass_reviewer_id}" data-fieldname="reviewer_id">
	<td class="style1 rnr-label">
		{BEGIN reviewer_id_label}{$label rejected_job reviewer_id}{END reviewer_id_label}
	</td>
	<td class="rnr-control style3">
		{$reviewer_id_editcontrol}&nbsp;
	</td>
</tr>
{END reviewer_id_tabfieldblock}
</table>




{END container_1}

</div>