<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN filename_tabfieldblock}
<tr class="{$fielddispclass_filename}" data-fieldname="filename">
	<td class="style1 rnr-label">
		{BEGIN filename_label}{$label rejected_jobfile2 filename}{END filename_label}
	</td>
	<td class="rnr-control style3">
		{$filename_editcontrol}&nbsp;
	</td>
</tr>
{END filename_tabfieldblock}
{BEGIN work_id_tabfieldblock}
<tr class="{$fielddispclass_work_id}" data-fieldname="work_id">
	<td class="style1 rnr-label">
		{BEGIN work_id_label}{$label rejected_jobfile2 work_id}{END work_id_label}
	</td>
	<td class="rnr-control style3">
		{$work_id_editcontrol}&nbsp;
	</td>
</tr>
{END work_id_tabfieldblock}
{BEGIN distributor_id_tabfieldblock}
<tr class="{$fielddispclass_distributor_id}" data-fieldname="distributor_id">
	<td class="style1 rnr-label">
		{BEGIN distributor_id_label}{$label rejected_jobfile2 distributor_id}{END distributor_id_label}
	</td>
	<td class="rnr-control style3">
		{$distributor_id_editcontrol}&nbsp;
	</td>
</tr>
{END distributor_id_tabfieldblock}
{BEGIN designer2_id_tabfieldblock}
<tr class="{$fielddispclass_designer2_id}" data-fieldname="designer2_id">
	<td class="style1 rnr-label">
		{BEGIN designer2_id_label}{$label rejected_jobfile2 designer2_id}{END designer2_id_label}
	</td>
	<td class="rnr-control style3">
		{$designer2_id_editcontrol}&nbsp;
	</td>
</tr>
{END designer2_id_tabfieldblock}
{BEGIN jobfile_type_tabfieldblock}
<tr class="{$fielddispclass_jobfile_type}" data-fieldname="jobfile_type">
	<td class="style1 rnr-label">
		{BEGIN jobfile_type_label}{$label rejected_jobfile2 jobfile_type}{END jobfile_type_label}
	</td>
	<td class="rnr-control style3">
		{$jobfile_type_editcontrol}&nbsp;
	</td>
</tr>
{END jobfile_type_tabfieldblock}
{BEGIN download_date_tabfieldblock}
<tr class="{$fielddispclass_download_date}" data-fieldname="download_date">
	<td class="style1 rnr-label">
		{BEGIN download_date_label}{$label rejected_jobfile2 download_date}{END download_date_label}
	</td>
	<td class="rnr-control style3">
		{$download_date_editcontrol}&nbsp;
	</td>
</tr>
{END download_date_tabfieldblock}
{BEGIN folder_name_tabfieldblock}
<tr class="{$fielddispclass_folder_name}" data-fieldname="folder_name">
	<td class="style1 rnr-label">
		{BEGIN folder_name_label}{$label rejected_jobfile2 folder_name}{END folder_name_label}
	</td>
	<td class="rnr-control style3">
		{$folder_name_editcontrol}&nbsp;
	</td>
</tr>
{END folder_name_tabfieldblock}
{BEGIN qcstart_date_tabfieldblock}
<tr class="{$fielddispclass_qcstart_date}" data-fieldname="qcstart_date">
	<td class="style1 rnr-label">
		{BEGIN qcstart_date_label}{$label rejected_jobfile2 qcstart_date}{END qcstart_date_label}
	</td>
	<td class="rnr-control style3">
		{$qcstart_date_editcontrol}&nbsp;
	</td>
</tr>
{END qcstart_date_tabfieldblock}
{BEGIN distribute_date_tabfieldblock}
<tr class="{$fielddispclass_distribute_date}" data-fieldname="distribute_date">
	<td class="style1 rnr-label">
		{BEGIN distribute_date_label}{$label rejected_jobfile2 distribute_date}{END distribute_date_label}
	</td>
	<td class="rnr-control style3">
		{$distribute_date_editcontrol}&nbsp;
	</td>
</tr>
{END distribute_date_tabfieldblock}
{BEGIN end2_date_tabfieldblock}
<tr class="{$fielddispclass_end2_date}" data-fieldname="end2_date">
	<td class="style1 rnr-label">
		{BEGIN end2_date_label}{$label rejected_jobfile2 end2_date}{END end2_date_label}
	</td>
	<td class="rnr-control style3">
		{$end2_date_editcontrol}&nbsp;
	</td>
</tr>
{END end2_date_tabfieldblock}
{BEGIN upload_date_tabfieldblock}
<tr class="{$fielddispclass_upload_date}" data-fieldname="upload_date">
	<td class="style1 rnr-label">
		{BEGIN upload_date_label}{$label rejected_jobfile2 upload_date}{END upload_date_label}
	</td>
	<td class="rnr-control style3">
		{$upload_date_editcontrol}&nbsp;
	</td>
</tr>
{END upload_date_tabfieldblock}
{BEGIN qc_time_tabfieldblock}
<tr class="{$fielddispclass_qc_time}" data-fieldname="qc_time">
	<td class="style1 rnr-label">
		{BEGIN qc_time_label}{$label rejected_jobfile2 qc_time}{END qc_time_label}
	</td>
	<td class="rnr-control style3">
		{$qc_time_editcontrol}&nbsp;
	</td>
</tr>
{END qc_time_tabfieldblock}
{BEGIN qcend_date_tabfieldblock}
<tr class="{$fielddispclass_qcend_date}" data-fieldname="qcend_date">
	<td class="style1 rnr-label">
		{BEGIN qcend_date_label}{$label rejected_jobfile2 qcend_date}{END qcend_date_label}
	</td>
	<td class="rnr-control style3">
		{$qcend_date_editcontrol}&nbsp;
	</td>
</tr>
{END qcend_date_tabfieldblock}
{BEGIN end_date_tabfieldblock}
<tr class="{$fielddispclass_end_date}" data-fieldname="end_date">
	<td class="style1 rnr-label">
		{BEGIN end_date_label}{$label rejected_jobfile2 end_date}{END end_date_label}
	</td>
	<td class="rnr-control style3">
		{$end_date_editcontrol}&nbsp;
	</td>
</tr>
{END end_date_tabfieldblock}
{BEGIN designer_time_tabfieldblock}
<tr class="{$fielddispclass_designer_time}" data-fieldname="designer_time">
	<td class="style1 rnr-label">
		{BEGIN designer_time_label}{$label rejected_jobfile2 designer_time}{END designer_time_label}
	</td>
	<td class="rnr-control style3">
		{$designer_time_editcontrol}&nbsp;
	</td>
</tr>
{END designer_time_tabfieldblock}
{BEGIN client_id_tabfieldblock}
<tr class="{$fielddispclass_client_id}" data-fieldname="client_id">
	<td class="style1 rnr-label">
		{BEGIN client_id_label}{$label rejected_jobfile2 client_id}{END client_id_label}
	</td>
	<td class="rnr-control style3">
		{$client_id_editcontrol}&nbsp;
	</td>
</tr>
{END client_id_tabfieldblock}
{BEGIN start_date_tabfieldblock}
<tr class="{$fielddispclass_start_date}" data-fieldname="start_date">
	<td class="style1 rnr-label">
		{BEGIN start_date_label}{$label rejected_jobfile2 start_date}{END start_date_label}
	</td>
	<td class="rnr-control style3">
		{$start_date_editcontrol}&nbsp;
	</td>
</tr>
{END start_date_tabfieldblock}
{BEGIN notifier_id_tabfieldblock}
<tr class="{$fielddispclass_notifier_id}" data-fieldname="notifier_id">
	<td class="style1 rnr-label">
		{BEGIN notifier_id_label}{$label rejected_jobfile2 notifier_id}{END notifier_id_label}
	</td>
	<td class="rnr-control style3">
		{$notifier_id_editcontrol}&nbsp;
	</td>
</tr>
{END notifier_id_tabfieldblock}
{BEGIN uploader_id_tabfieldblock}
<tr class="{$fielddispclass_uploader_id}" data-fieldname="uploader_id">
	<td class="style1 rnr-label">
		{BEGIN uploader_id_label}{$label rejected_jobfile2 uploader_id}{END uploader_id_label}
	</td>
	<td class="rnr-control style3">
		{$uploader_id_editcontrol}&nbsp;
	</td>
</tr>
{END uploader_id_tabfieldblock}
{BEGIN downloader_id_tabfieldblock}
<tr class="{$fielddispclass_downloader_id}" data-fieldname="downloader_id">
	<td class="style1 rnr-label">
		{BEGIN downloader_id_label}{$label rejected_jobfile2 downloader_id}{END downloader_id_label}
	</td>
	<td class="rnr-control style3">
		{$downloader_id_editcontrol}&nbsp;
	</td>
</tr>
{END downloader_id_tabfieldblock}
{BEGIN designer2_time_tabfieldblock}
<tr class="{$fielddispclass_designer2_time}" data-fieldname="designer2_time">
	<td class="style1 rnr-label">
		{BEGIN designer2_time_label}{$label rejected_jobfile2 designer2_time}{END designer2_time_label}
	</td>
	<td class="rnr-control style3">
		{$designer2_time_editcontrol}&nbsp;
	</td>
</tr>
{END designer2_time_tabfieldblock}
{BEGIN qc_id_tabfieldblock}
<tr class="{$fielddispclass_qc_id}" data-fieldname="qc_id">
	<td class="style1 rnr-label">
		{BEGIN qc_id_label}{$label rejected_jobfile2 qc_id}{END qc_id_label}
	</td>
	<td class="rnr-control style3">
		{$qc_id_editcontrol}&nbsp;
	</td>
</tr>
{END qc_id_tabfieldblock}
{BEGIN jobfile_note_tabfieldblock}
<tr class="{$fielddispclass_jobfile_note}" data-fieldname="jobfile_note">
	<td class="style1 rnr-label">
		{BEGIN jobfile_note_label}{$label rejected_jobfile2 jobfile_note}{END jobfile_note_label}
	</td>
	<td class="rnr-control style3">
		{$jobfile_note_editcontrol}&nbsp;
	</td>
</tr>
{END jobfile_note_tabfieldblock}
{BEGIN designer_id_tabfieldblock}
<tr class="{$fielddispclass_designer_id}" data-fieldname="designer_id">
	<td class="style1 rnr-label">
		{BEGIN designer_id_label}{$label rejected_jobfile2 designer_id}{END designer_id_label}
	</td>
	<td class="rnr-control style3">
		{$designer_id_editcontrol}&nbsp;
	</td>
</tr>
{END designer_id_tabfieldblock}
{BEGIN start2_date_tabfieldblock}
<tr class="{$fielddispclass_start2_date}" data-fieldname="start2_date">
	<td class="style1 rnr-label">
		{BEGIN start2_date_label}{$label rejected_jobfile2 start2_date}{END start2_date_label}
	</td>
	<td class="rnr-control style3">
		{$start2_date_editcontrol}&nbsp;
	</td>
</tr>
{END start2_date_tabfieldblock}
{BEGIN notify_date_tabfieldblock}
<tr class="{$fielddispclass_notify_date}" data-fieldname="notify_date">
	<td class="style1 rnr-label">
		{BEGIN notify_date_label}{$label rejected_jobfile2 notify_date}{END notify_date_label}
	</td>
	<td class="rnr-control style3">
		{$notify_date_editcontrol}&nbsp;
	</td>
</tr>
{END notify_date_tabfieldblock}
{BEGIN jobfile_status_id_tabfieldblock}
<tr class="{$fielddispclass_jobfile_status_id}" data-fieldname="jobfile_status_id">
	<td class="style1 rnr-label">
		{BEGIN jobfile_status_id_label}{$label rejected_jobfile2 jobfile_status_id}{END jobfile_status_id_label}
	</td>
	<td class="rnr-control style3">
		{$jobfile_status_id_editcontrol}&nbsp;
	</td>
</tr>
{END jobfile_status_id_tabfieldblock}
{BEGIN file_url_tabfieldblock}
<tr class="{$fielddispclass_file_url}" data-fieldname="file_url">
	<td class="style1 rnr-label">
		{BEGIN file_url_label}{$label rejected_jobfile2 file_url}{END file_url_label}
	</td>
	<td class="rnr-control style3">
		{$file_url_editcontrol}&nbsp;
	</td>
</tr>
{END file_url_tabfieldblock}
{BEGIN previous_jobfile_id_tabfieldblock}
<tr class="{$fielddispclass_previous_jobfile_id}" data-fieldname="previous_jobfile_id">
	<td class="style1 rnr-label">
		{BEGIN previous_jobfile_id_label}{$label rejected_jobfile2 previous_jobfile_id}{END previous_jobfile_id_label}
	</td>
	<td class="rnr-control style3">
		{$previous_jobfile_id_editcontrol}&nbsp;
	</td>
</tr>
{END previous_jobfile_id_tabfieldblock}
{BEGIN previous_job_id_tabfieldblock}
<tr class="{$fielddispclass_previous_job_id}" data-fieldname="previous_job_id">
	<td class="style1 rnr-label">
		{BEGIN previous_job_id_label}{$label rejected_jobfile2 previous_job_id}{END previous_job_id_label}
	</td>
	<td class="rnr-control style3">
		{$previous_job_id_editcontrol}&nbsp;
	</td>
</tr>
{END previous_job_id_tabfieldblock}
{BEGIN jobfile_id_tabfieldblock}
<tr class="{$fielddispclass_jobfile_id}" data-fieldname="jobfile_id">
	<td class="style1 rnr-label">
		{BEGIN jobfile_id_label}{$label rejected_jobfile2 jobfile_id}{END jobfile_id_label}
	</td>
	<td class="rnr-control style3">
		{$jobfile_id_editcontrol}&nbsp;
	</td>
</tr>
{END jobfile_id_tabfieldblock}
</table>




{END container_1}

</div>