<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel Rejected_by_QC search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_start_date_only}">
	{BEGIN start_date_only_fieldblock}		
	<td>
		{$label Rejected_by_QC start_date_only}
	</td>
	<td>
		<input type="checkbox" {$start_date_only_notbox}>
	</td>
	<td>
		{$searchtype_start_date_only}
	</td>
	<td>
		{$start_date_only_editcontrol}&nbsp;
	</td>
	<td>
		{$start_date_only_editcontrol1}&nbsp;
	</td>
{END start_date_only_fieldblock}
	</tr>
	<tr class="{$fielddispclass_designer_name}">
	{BEGIN designer_name_fieldblock}		
	<td>
		{$label Rejected_by_QC designer_name}
	</td>
	<td>
		<input type="checkbox" {$designer_name_notbox}>
	</td>
	<td>
		{$searchtype_designer_name}
	</td>
	<td>
		{$designer_name_editcontrol}&nbsp;
	</td>
	<td>
		{$designer_name_editcontrol1}&nbsp;
	</td>
{END designer_name_fieldblock}
	</tr>
	<tr class="{$fielddispclass_group_id}">
	{BEGIN group_id_fieldblock}		
	<td>
		{$label Rejected_by_QC group_id}
	</td>
	<td>
		<input type="checkbox" {$group_id_notbox}>
	</td>
	<td>
		{$searchtype_group_id}
	</td>
	<td>
		{$group_id_editcontrol}&nbsp;
	</td>
	<td>
		{$group_id_editcontrol1}&nbsp;
	</td>
{END group_id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_total_estimated_time}">
	{BEGIN total_estimated_time_fieldblock}		
	<td>
		{$label Rejected_by_QC total_estimated_time}
	</td>
	<td>
		<input type="checkbox" {$total_estimated_time_notbox}>
	</td>
	<td>
		{$searchtype_total_estimated_time}
	</td>
	<td>
		{$total_estimated_time_editcontrol}&nbsp;
	</td>
	<td>
		{$total_estimated_time_editcontrol1}&nbsp;
	</td>
{END total_estimated_time_fieldblock}
	</tr>
	<tr class="{$fielddispclass_total_designer_time}">
	{BEGIN total_designer_time_fieldblock}		
	<td>
		{$label Rejected_by_QC total_designer_time}
	</td>
	<td>
		<input type="checkbox" {$total_designer_time_notbox}>
	</td>
	<td>
		{$searchtype_total_designer_time}
	</td>
	<td>
		{$total_designer_time_editcontrol}&nbsp;
	</td>
	<td>
		{$total_designer_time_editcontrol1}&nbsp;
	</td>
{END total_designer_time_fieldblock}
	</tr>
	<tr class="{$fielddispclass_efficiency}">
	{BEGIN efficiency_fieldblock}		
	<td>
		{$label Rejected_by_QC efficiency}
	</td>
	<td>
		<input type="checkbox" {$efficiency_notbox}>
	</td>
	<td>
		{$searchtype_efficiency}
	</td>
	<td>
		{$efficiency_editcontrol}&nbsp;
	</td>
	<td>
		{$efficiency_editcontrol1}&nbsp;
	</td>
{END efficiency_fieldblock}
	</tr>
	<tr class="{$fielddispclass_rejected_files}">
	{BEGIN rejected_files_fieldblock}		
	<td>
		{$label Rejected_by_QC rejected_files}
	</td>
	<td>
		<input type="checkbox" {$rejected_files_notbox}>
	</td>
	<td>
		{$searchtype_rejected_files}
	</td>
	<td>
		{$rejected_files_editcontrol}&nbsp;
	</td>
	<td>
		{$rejected_files_editcontrol1}&nbsp;
	</td>
{END rejected_files_fieldblock}
	</tr>
	<tr class="{$fielddispclass_work_type}">
	{BEGIN work_type_fieldblock}		
	<td>
		{$label Rejected_by_QC work_type}
	</td>
	<td>
		<input type="checkbox" {$work_type_notbox}>
	</td>
	<td>
		{$searchtype_work_type}
	</td>
	<td>
		{$work_type_editcontrol}&nbsp;
	</td>
	<td>
		{$work_type_editcontrol1}&nbsp;
	</td>
{END work_type_fieldblock}
	</tr>
	<tr class="{$fielddispclass_rejected_jobfile2_designer2_id}">
	{BEGIN rejected_jobfile2_designer2_id_fieldblock}		
	<td>
		{$label Rejected_by_QC rejected_jobfile2_designer2_id}
	</td>
	<td>
		<input type="checkbox" {$rejected_jobfile2_designer2_id_notbox}>
	</td>
	<td>
		{$searchtype_rejected_jobfile2_designer2_id}
	</td>
	<td>
		{$rejected_jobfile2_designer2_id_editcontrol}&nbsp;
	</td>
	<td>
		{$rejected_jobfile2_designer2_id_editcontrol1}&nbsp;
	</td>
{END rejected_jobfile2_designer2_id_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
