<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fview} rnr-wrapper rnr-cbw-fview">

{BEGIN container_fview}
<div class="rnr-c rnr-cv rnr-c-fview">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel rejected_job view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields4_atop {$brickclass_viewfields4_atop}"><table class="fieldGrid fieldGrid4">

<tr>
<td>
	{BEGIN delivery_duration_fieldblock}
<div data-fieldname="delivery_duration" class="rnr-field style1 {$fielddispclass_delivery_duration}">
  <div class="rnr-label above">{$label rejected_job delivery_duration}:</div>
  <div class="rnr-control style3">{$delivery_duration_value}</div>
</div>
{END delivery_duration_fieldblock}
	{BEGIN delivery_date_fieldblock}
<div data-fieldname="delivery_date" class="rnr-field style1 {$fielddispclass_delivery_date}">
  <div class="rnr-label above">{$label rejected_job delivery_date}:</div>
  <div class="rnr-control style3">{$delivery_date_value}</div>
</div>
{END delivery_date_fieldblock}
	{BEGIN designer_list_fieldblock}
<div data-fieldname="designer_list" class="rnr-field style1 {$fielddispclass_designer_list}">
  <div class="rnr-label above">{$label rejected_job designer_list}:</div>
  <div class="rnr-control style3">{$designer_list_value}</div>
</div>
{END designer_list_fieldblock}
	{BEGIN qcs_list_fieldblock}
<div data-fieldname="qcs_list" class="rnr-field style1 {$fielddispclass_qcs_list}">
  <div class="rnr-label above">{$label rejected_job qcs_list}:</div>
  <div class="rnr-control style3">{$qcs_list_value}</div>
</div>
{END qcs_list_fieldblock}
	{BEGIN pdf_name_fieldblock}
<div data-fieldname="pdf_name" class="rnr-field style1 {$fielddispclass_pdf_name}">
  <div class="rnr-label above">{$label rejected_job pdf_name}:</div>
  <div class="rnr-control style3">{$pdf_name_value}</div>
</div>
{END pdf_name_fieldblock}
	{BEGIN pdf_id_fieldblock}
<div data-fieldname="pdf_id" class="rnr-field style1 {$fielddispclass_pdf_id}">
  <div class="rnr-label above">{$label rejected_job pdf_id}:</div>
  <div class="rnr-control style3">{$pdf_id_value}</div>
</div>
{END pdf_id_fieldblock}
	{BEGIN work_id_fieldblock}
<div data-fieldname="work_id" class="rnr-field style1 {$fielddispclass_work_id}">
  <div class="rnr-label above">{$label rejected_job work_id}:</div>
  <div class="rnr-control style3">{$work_id_value}</div>
</div>
{END work_id_fieldblock}
</td>
<td>
	{BEGIN job_id_fieldblock}
<div data-fieldname="job_id" class="rnr-field style1 {$fielddispclass_job_id}">
  <div class="rnr-label above">{$label rejected_job job_id}:</div>
  <div class="rnr-control style3">{$job_id_value}</div>
</div>
{END job_id_fieldblock}
	{BEGIN previous_job_id_fieldblock}
<div data-fieldname="previous_job_id" class="rnr-field style1 {$fielddispclass_previous_job_id}">
  <div class="rnr-label above">{$label rejected_job previous_job_id}:</div>
  <div class="rnr-control style3">{$previous_job_id_value}</div>
</div>
{END previous_job_id_fieldblock}
	{BEGIN total_images_fieldblock}
<div data-fieldname="total_images" class="rnr-field style1 {$fielddispclass_total_images}">
  <div class="rnr-label above">{$label rejected_job total_images}:</div>
  <div class="rnr-control style3">{$total_images_value}</div>
</div>
{END total_images_fieldblock}
	{BEGIN reject_type_fieldblock}
<div data-fieldname="reject_type" class="rnr-field style1 {$fielddispclass_reject_type}">
  <div class="rnr-label above">{$label rejected_job reject_type}:</div>
  <div class="rnr-control style3">{$reject_type_value}</div>
</div>
{END reject_type_fieldblock}
	{BEGIN reject_notes_fieldblock}
<div data-fieldname="reject_notes" class="rnr-field style1 {$fielddispclass_reject_notes}">
  <div class="rnr-label above">{$label rejected_job reject_notes}:</div>
  <div class="rnr-control style3">{$reject_notes_value}</div>
</div>
{END reject_notes_fieldblock}
	{BEGIN web_note_fieldblock}
<div data-fieldname="web_note" class="rnr-field style1 {$fielddispclass_web_note}">
  <div class="rnr-label above">{$label rejected_job web_note}:</div>
  <div class="rnr-control style3">{$web_note_value}</div>
</div>
{END web_note_fieldblock}
	{BEGIN comments_fieldblock}
<div data-fieldname="comments" class="rnr-field style1 {$fielddispclass_comments}">
  <div class="rnr-label above">{$label rejected_job comments}:</div>
  <div class="rnr-control style3">{$comments_value}</div>
</div>
{END comments_fieldblock}
</td>
<td>
	{BEGIN jobstatus_id_fieldblock}
<div data-fieldname="jobstatus_id" class="rnr-field style1 {$fielddispclass_jobstatus_id}">
  <div class="rnr-label above">{$label rejected_job jobstatus_id}:</div>
  <div class="rnr-control style3">{$jobstatus_id_value}</div>
</div>
{END jobstatus_id_fieldblock}
	{BEGIN downloader_id_fieldblock}
<div data-fieldname="downloader_id" class="rnr-field style1 {$fielddispclass_downloader_id}">
  <div class="rnr-label above">{$label rejected_job downloader_id}:</div>
  <div class="rnr-control style3">{$downloader_id_value}</div>
</div>
{END downloader_id_fieldblock}
	{BEGIN download_date_fieldblock}
<div data-fieldname="download_date" class="rnr-field style1 {$fielddispclass_download_date}">
  <div class="rnr-label above">{$label rejected_job download_date}:</div>
  <div class="rnr-control style3">{$download_date_value}</div>
</div>
{END download_date_fieldblock}
	{BEGIN distributor_id_fieldblock}
<div data-fieldname="distributor_id" class="rnr-field style1 {$fielddispclass_distributor_id}">
  <div class="rnr-label above">{$label rejected_job distributor_id}:</div>
  <div class="rnr-control style3">{$distributor_id_value}</div>
</div>
{END distributor_id_fieldblock}
	{BEGIN distribute_date_fieldblock}
<div data-fieldname="distribute_date" class="rnr-field style1 {$fielddispclass_distribute_date}">
  <div class="rnr-label above">{$label rejected_job distribute_date}:</div>
  <div class="rnr-control style3">{$distribute_date_value}</div>
</div>
{END distribute_date_fieldblock}
	{BEGIN uploader_id_fieldblock}
<div data-fieldname="uploader_id" class="rnr-field style1 {$fielddispclass_uploader_id}">
  <div class="rnr-label above">{$label rejected_job uploader_id}:</div>
  <div class="rnr-control style3">{$uploader_id_value}</div>
</div>
{END uploader_id_fieldblock}
</td>
<td>
	{BEGIN upload_date_fieldblock}
<div data-fieldname="upload_date" class="rnr-field style1 {$fielddispclass_upload_date}">
  <div class="rnr-label above">{$label rejected_job upload_date}:</div>
  <div class="rnr-control style3">{$upload_date_value}</div>
</div>
{END upload_date_fieldblock}
	{BEGIN notifer_id_fieldblock}
<div data-fieldname="notifer_id" class="rnr-field style1 {$fielddispclass_notifer_id}">
  <div class="rnr-label above">{$label rejected_job notifer_id}:</div>
  <div class="rnr-control style3">{$notifer_id_value}</div>
</div>
{END notifer_id_fieldblock}
	{BEGIN notify_date_fieldblock}
<div data-fieldname="notify_date" class="rnr-field style1 {$fielddispclass_notify_date}">
  <div class="rnr-label above">{$label rejected_job notify_date}:</div>
  <div class="rnr-control style3">{$notify_date_value}</div>
</div>
{END notify_date_fieldblock}
	{BEGIN reviewer_id_fieldblock}
<div data-fieldname="reviewer_id" class="rnr-field style1 {$fielddispclass_reviewer_id}">
  <div class="rnr-label above">{$label rejected_job reviewer_id}:</div>
  <div class="rnr-control style3">{$reviewer_id_value}</div>
</div>
{END reviewer_id_fieldblock}
	{BEGIN reject_date_fieldblock}
<div data-fieldname="reject_date" class="rnr-field style1 {$fielddispclass_reject_date}">
  <div class="rnr-label above">{$label rejected_job reject_date}:</div>
  <div class="rnr-control style3">{$reject_date_value}</div>
</div>
{END reject_date_fieldblock}
	{BEGIN reject_reason_fieldblock}
<div data-fieldname="reject_reason" class="rnr-field style1 {$fielddispclass_reject_reason}">
  <div class="rnr-label above">{$label rejected_job reject_reason}:</div>
  <div class="rnr-control style3">{$reject_reason_value}</div>
</div>
{END reject_reason_fieldblock}
</td>
</tr>
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Edit</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_fview}

</div>


</div>
{END container_view}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
