<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN jobfile_status_id_tabfieldblock}
<tr class="{$fielddispclass_jobfile_status_id}" data-fieldname="jobfile_status_id">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 jobfile_status_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_jobfile_status_id">
		{$jobfile_status_id_value}
		</div>
	</td>
</tr>
{END jobfile_status_id_tabfieldblock}
{BEGIN client_id_tabfieldblock}
<tr class="{$fielddispclass_client_id}" data-fieldname="client_id">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 client_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_client_id">
		{$client_id_value}
		</div>
	</td>
</tr>
{END client_id_tabfieldblock}
{BEGIN folder_name_tabfieldblock}
<tr class="{$fielddispclass_folder_name}" data-fieldname="folder_name">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 folder_name}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_folder_name">
		{$folder_name_value}
		</div>
	</td>
</tr>
{END folder_name_tabfieldblock}
{BEGIN distribute_date_tabfieldblock}
<tr class="{$fielddispclass_distribute_date}" data-fieldname="distribute_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 distribute_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_distribute_date">
		{$distribute_date_value}
		</div>
	</td>
</tr>
{END distribute_date_tabfieldblock}
{BEGIN qcstart_date_tabfieldblock}
<tr class="{$fielddispclass_qcstart_date}" data-fieldname="qcstart_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 qcstart_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_qcstart_date">
		{$qcstart_date_value}
		</div>
	</td>
</tr>
{END qcstart_date_tabfieldblock}
{BEGIN qcend_date_tabfieldblock}
<tr class="{$fielddispclass_qcend_date}" data-fieldname="qcend_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 qcend_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_qcend_date">
		{$qcend_date_value}
		</div>
	</td>
</tr>
{END qcend_date_tabfieldblock}
{BEGIN end_date_tabfieldblock}
<tr class="{$fielddispclass_end_date}" data-fieldname="end_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 end_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_end_date">
		{$end_date_value}
		</div>
	</td>
</tr>
{END end_date_tabfieldblock}
{BEGIN start_date_tabfieldblock}
<tr class="{$fielddispclass_start_date}" data-fieldname="start_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 start_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_start_date">
		{$start_date_value}
		</div>
	</td>
</tr>
{END start_date_tabfieldblock}
{BEGIN distributor_id_tabfieldblock}
<tr class="{$fielddispclass_distributor_id}" data-fieldname="distributor_id">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 distributor_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_distributor_id">
		{$distributor_id_value}
		</div>
	</td>
</tr>
{END distributor_id_tabfieldblock}
{BEGIN notify_date_tabfieldblock}
<tr class="{$fielddispclass_notify_date}" data-fieldname="notify_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 notify_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_notify_date">
		{$notify_date_value}
		</div>
	</td>
</tr>
{END notify_date_tabfieldblock}
{BEGIN download_date_tabfieldblock}
<tr class="{$fielddispclass_download_date}" data-fieldname="download_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 download_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_download_date">
		{$download_date_value}
		</div>
	</td>
</tr>
{END download_date_tabfieldblock}
{BEGIN end2_date_tabfieldblock}
<tr class="{$fielddispclass_end2_date}" data-fieldname="end2_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 end2_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_end2_date">
		{$end2_date_value}
		</div>
	</td>
</tr>
{END end2_date_tabfieldblock}
{BEGIN start2_date_tabfieldblock}
<tr class="{$fielddispclass_start2_date}" data-fieldname="start2_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 start2_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_start2_date">
		{$start2_date_value}
		</div>
	</td>
</tr>
{END start2_date_tabfieldblock}
{BEGIN uploader_id_tabfieldblock}
<tr class="{$fielddispclass_uploader_id}" data-fieldname="uploader_id">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 uploader_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_uploader_id">
		{$uploader_id_value}
		</div>
	</td>
</tr>
{END uploader_id_tabfieldblock}
{BEGIN downloader_id_tabfieldblock}
<tr class="{$fielddispclass_downloader_id}" data-fieldname="downloader_id">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 downloader_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_downloader_id">
		{$downloader_id_value}
		</div>
	</td>
</tr>
{END downloader_id_tabfieldblock}
{BEGIN notifier_id_tabfieldblock}
<tr class="{$fielddispclass_notifier_id}" data-fieldname="notifier_id">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 notifier_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_notifier_id">
		{$notifier_id_value}
		</div>
	</td>
</tr>
{END notifier_id_tabfieldblock}
{BEGIN file_list_tabfieldblock}
<tr class="{$fielddispclass_file_list}" data-fieldname="file_list">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 file_list}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_file_list">
		{$file_list_value}
		</div>
	</td>
</tr>
{END file_list_tabfieldblock}
{BEGIN jobfile_type_tabfieldblock}
<tr class="{$fielddispclass_jobfile_type}" data-fieldname="jobfile_type">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 jobfile_type}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_jobfile_type">
		{$jobfile_type_value}
		</div>
	</td>
</tr>
{END jobfile_type_tabfieldblock}
{BEGIN upload_date_tabfieldblock}
<tr class="{$fielddispclass_upload_date}" data-fieldname="upload_date">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 upload_date}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_upload_date">
		{$upload_date_value}
		</div>
	</td>
</tr>
{END upload_date_tabfieldblock}
{BEGIN work_id_tabfieldblock}
<tr class="{$fielddispclass_work_id}" data-fieldname="work_id">
	<td class="style1 rnr-label">
		{$label rejected_jobfile2 work_id}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_work_id">
		{$work_id_value}
		</div>
	</td>
</tr>
{END work_id_tabfieldblock}
</table>




{END container_1}

</div>