<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="reject_reason_others">
	{$reject_reason_others_editcontrol}
	</control>
	<control 
	field="screenshots">
	{$screenshots_editcontrol}
	</control>
	<control 
	field="file_list">
	{$file_list_editcontrol}
	</control>
	<control 
	field="previous_jobfile_id">
	{$previous_jobfile_id_editcontrol}
	</control>
	<control 
	field="client_id">
	{$client_id_editcontrol}
	</control>
	<control 
	field="work_id">
	{$work_id_editcontrol}
	</control>
	<control 
	field="job_id">
	{$job_id_editcontrol}
	</control>
	<control 
	field="previous_job_id">
	{$previous_job_id_editcontrol}
	</control>
	<control 
	field="project_id">
	{$project_id_editcontrol}
	</control>
	<control 
	field="folder_name">
	{$folder_name_editcontrol}
	</control>
	<control 
	field="file_url">
	{$file_url_editcontrol}
	</control>
	<control 
	field="filename">
	{$filename_editcontrol}
	</control>
	<control 
	field="jobfile_type">
	{$jobfile_type_editcontrol}
	</control>
	<control 
	field="jobfile_note">
	{$jobfile_note_editcontrol}
	</control>
	<control 
	field="jobfile_status_id">
	{$jobfile_status_id_editcontrol}
	</control>
	<control 
	field="designer_id">
	{$designer_id_editcontrol}
	</control>
	<control 
	field="start_date">
	{$start_date_editcontrol}
	</control>
	<control 
	field="end_date">
	{$end_date_editcontrol}
	</control>
	<control 
	field="designer_time">
	{$designer_time_editcontrol}
	</control>
	<control 
	field="designer2_id">
	{$designer2_id_editcontrol}
	</control>
	<control 
	field="start2_date">
	{$start2_date_editcontrol}
	</control>
	<control 
	field="end2_date">
	{$end2_date_editcontrol}
	</control>
	<control 
	field="designer2_time">
	{$designer2_time_editcontrol}
	</control>
	<control 
	field="qc_id">
	{$qc_id_editcontrol}
	</control>
	<control 
	field="qcstart_date">
	{$qcstart_date_editcontrol}
	</control>
	<control 
	field="qcend_date">
	{$qcend_date_editcontrol}
	</control>
	<control 
	field="qc_time">
	{$qc_time_editcontrol}
	</control>
	<control 
	field="rejector_id">
	{$rejector_id_editcontrol}
	</control>
	<control 
	field="reject_date">
	{$reject_date_editcontrol}
	</control>
	<control 
	field="reject_reason">
	{$reject_reason_editcontrol}
	</control>
	<control 
	field="downloader_id">
	{$downloader_id_editcontrol}
	</control>
	<control 
	field="download_date">
	{$download_date_editcontrol}
	</control>
	<control 
	field="distributor_id">
	{$distributor_id_editcontrol}
	</control>
	<control 
	field="distribute_date">
	{$distribute_date_editcontrol}
	</control>
	<control 
	field="uploader_id">
	{$uploader_id_editcontrol}
	</control>
	<control 
	field="upload_date">
	{$upload_date_editcontrol}
	</control>
	<control 
	field="notifier_id">
	{$notifier_id_editcontrol}
	</control>
	<control 
	field="notify_date">
	{$notify_date_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
