<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel rejected_jobfile edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields2_atop {$brickclass_editfields2_atop}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN rejected_jobfile_status_id_fieldblock}
<div data-fieldname="rejected_jobfile_status_id" class="rnr-field style1 {$fielddispclass_rejected_jobfile_status_id}">
  <div class="rnr-label above">{BEGIN rejected_jobfile_status_id_label}{$label rejected_jobfile rejected_jobfile_status_id}{END rejected_jobfile_status_id_label}</div>
  <div class="rnr-control style3">{$rejected_jobfile_status_id_editcontrol}</div>
</div>
{END rejected_jobfile_status_id_fieldblock}
	{BEGIN jobfile_id_fieldblock}
<div data-fieldname="jobfile_id" class="rnr-field style1 {$fielddispclass_jobfile_id}">
  <div class="rnr-label above">{BEGIN jobfile_id_label}{$label rejected_jobfile jobfile_id}{END jobfile_id_label}</div>
  <div class="rnr-control style3">{$jobfile_id_editcontrol}</div>
</div>
{END jobfile_id_fieldblock}
	{BEGIN file_url_fieldblock}
<div data-fieldname="file_url" class="rnr-field style1 {$fielddispclass_file_url}">
  <div class="rnr-label above">{BEGIN file_url_label}{$label rejected_jobfile file_url}{END file_url_label}</div>
  <div class="rnr-control style3">{$file_url_editcontrol}</div>
</div>
{END file_url_fieldblock}
	{BEGIN job_id_fieldblock}
<div data-fieldname="job_id" class="rnr-field style1 {$fielddispclass_job_id}">
  <div class="rnr-label above">{BEGIN job_id_label}{$label rejected_jobfile job_id}{END job_id_label}</div>
  <div class="rnr-control style3">{$job_id_editcontrol}</div>
</div>
{END job_id_fieldblock}
	{BEGIN pdf_id_fieldblock}
<div data-fieldname="pdf_id" class="rnr-field style1 {$fielddispclass_pdf_id}">
  <div class="rnr-label above">{BEGIN pdf_id_label}{$label rejected_jobfile pdf_id}{END pdf_id_label}</div>
  <div class="rnr-control style3">{$pdf_id_editcontrol}</div>
</div>
{END pdf_id_fieldblock}
	{BEGIN jobfile_note_fieldblock}
<div data-fieldname="jobfile_note" class="rnr-field style1 {$fielddispclass_jobfile_note}">
  <div class="rnr-label above">{BEGIN jobfile_note_label}{$label rejected_jobfile jobfile_note}{END jobfile_note_label}</div>
  <div class="rnr-control style3">{$jobfile_note_editcontrol}</div>
</div>
{END jobfile_note_fieldblock}
	{BEGIN rejector_id_fieldblock}
<div data-fieldname="rejector_id" class="rnr-field style1 {$fielddispclass_rejector_id}">
  <div class="rnr-label above">{BEGIN rejector_id_label}{$label rejected_jobfile rejector_id}{END rejector_id_label}</div>
  <div class="rnr-control style3">{$rejector_id_editcontrol}</div>
</div>
{END rejector_id_fieldblock}
	{BEGIN reject_date_fieldblock}
<div data-fieldname="reject_date" class="rnr-field style1 {$fielddispclass_reject_date}">
  <div class="rnr-label above">{BEGIN reject_date_label}{$label rejected_jobfile reject_date}{END reject_date_label}</div>
  <div class="rnr-control style3">{$reject_date_editcontrol}</div>
</div>
{END reject_date_fieldblock}
	{BEGIN reject_reason_fieldblock}
<div data-fieldname="reject_reason" class="rnr-field style1 {$fielddispclass_reject_reason}">
  <div class="rnr-label above">{BEGIN reject_reason_label}{$label rejected_jobfile reject_reason}{END reject_reason_label}</div>
  <div class="rnr-control style3">{$reject_reason_editcontrol}</div>
</div>
{END reject_reason_fieldblock}
	{BEGIN cr_designer_id_fieldblock}
<div data-fieldname="cr_designer_id" class="rnr-field style1 {$fielddispclass_cr_designer_id}">
  <div class="rnr-label above">{BEGIN cr_designer_id_label}{$label rejected_jobfile cr_designer_id}{END cr_designer_id_label}</div>
  <div class="rnr-control style3">{$cr_designer_id_editcontrol}</div>
</div>
{END cr_designer_id_fieldblock}
	{BEGIN cr_start_date_fieldblock}
<div data-fieldname="cr_start_date" class="rnr-field style1 {$fielddispclass_cr_start_date}">
  <div class="rnr-label above">{BEGIN cr_start_date_label}{$label rejected_jobfile cr_start_date}{END cr_start_date_label}</div>
  <div class="rnr-control style3">{$cr_start_date_editcontrol}</div>
</div>
{END cr_start_date_fieldblock}
	{BEGIN cr_end_date_fieldblock}
<div data-fieldname="cr_end_date" class="rnr-field style1 {$fielddispclass_cr_end_date}">
  <div class="rnr-label above">{BEGIN cr_end_date_label}{$label rejected_jobfile cr_end_date}{END cr_end_date_label}</div>
  <div class="rnr-control style3">{$cr_end_date_editcontrol}</div>
</div>
{END cr_end_date_fieldblock}
	{BEGIN cr_designer_time_fieldblock}
<div data-fieldname="cr_designer_time" class="rnr-field style1 {$fielddispclass_cr_designer_time}">
  <div class="rnr-label above">{BEGIN cr_designer_time_label}{$label rejected_jobfile cr_designer_time}{END cr_designer_time_label}</div>
  <div class="rnr-control style3">{$cr_designer_time_editcontrol}</div>
</div>
{END cr_designer_time_fieldblock}
</td>
<td>
	{BEGIN cr_pc_name_fieldblock}
<div data-fieldname="cr_pc_name" class="rnr-field style1 {$fielddispclass_cr_pc_name}">
  <div class="rnr-label above">{BEGIN cr_pc_name_label}{$label rejected_jobfile cr_pc_name}{END cr_pc_name_label}</div>
  <div class="rnr-control style3">{$cr_pc_name_editcontrol}</div>
</div>
{END cr_pc_name_fieldblock}
	{BEGIN cr_qc_id_fieldblock}
<div data-fieldname="cr_qc_id" class="rnr-field style1 {$fielddispclass_cr_qc_id}">
  <div class="rnr-label above">{BEGIN cr_qc_id_label}{$label rejected_jobfile cr_qc_id}{END cr_qc_id_label}</div>
  <div class="rnr-control style3">{$cr_qc_id_editcontrol}</div>
</div>
{END cr_qc_id_fieldblock}
	{BEGIN cr_qcstart_date_fieldblock}
<div data-fieldname="cr_qcstart_date" class="rnr-field style1 {$fielddispclass_cr_qcstart_date}">
  <div class="rnr-label above">{BEGIN cr_qcstart_date_label}{$label rejected_jobfile cr_qcstart_date}{END cr_qcstart_date_label}</div>
  <div class="rnr-control style3">{$cr_qcstart_date_editcontrol}</div>
</div>
{END cr_qcstart_date_fieldblock}
	{BEGIN cr_qcend_date_fieldblock}
<div data-fieldname="cr_qcend_date" class="rnr-field style1 {$fielddispclass_cr_qcend_date}">
  <div class="rnr-label above">{BEGIN cr_qcend_date_label}{$label rejected_jobfile cr_qcend_date}{END cr_qcend_date_label}</div>
  <div class="rnr-control style3">{$cr_qcend_date_editcontrol}</div>
</div>
{END cr_qcend_date_fieldblock}
	{BEGIN cr_qc_time_fieldblock}
<div data-fieldname="cr_qc_time" class="rnr-field style1 {$fielddispclass_cr_qc_time}">
  <div class="rnr-label above">{BEGIN cr_qc_time_label}{$label rejected_jobfile cr_qc_time}{END cr_qc_time_label}</div>
  <div class="rnr-control style3">{$cr_qc_time_editcontrol}</div>
</div>
{END cr_qc_time_fieldblock}
	{BEGIN cr_qc_pc_name_fieldblock}
<div data-fieldname="cr_qc_pc_name" class="rnr-field style1 {$fielddispclass_cr_qc_pc_name}">
  <div class="rnr-label above">{BEGIN cr_qc_pc_name_label}{$label rejected_jobfile cr_qc_pc_name}{END cr_qc_pc_name_label}</div>
  <div class="rnr-control style3">{$cr_qc_pc_name_editcontrol}</div>
</div>
{END cr_qc_pc_name_fieldblock}
	{BEGIN cr_distribute_date_fieldblock}
<div data-fieldname="cr_distribute_date" class="rnr-field style1 {$fielddispclass_cr_distribute_date}">
  <div class="rnr-label above">{BEGIN cr_distribute_date_label}{$label rejected_jobfile cr_distribute_date}{END cr_distribute_date_label}</div>
  <div class="rnr-control style3">{$cr_distribute_date_editcontrol}</div>
</div>
{END cr_distribute_date_fieldblock}
	{BEGIN cr_notifier_id_fieldblock}
<div data-fieldname="cr_notifier_id" class="rnr-field style1 {$fielddispclass_cr_notifier_id}">
  <div class="rnr-label above">{BEGIN cr_notifier_id_label}{$label rejected_jobfile cr_notifier_id}{END cr_notifier_id_label}</div>
  <div class="rnr-control style3">{$cr_notifier_id_editcontrol}</div>
</div>
{END cr_notifier_id_fieldblock}
	{BEGIN cr_notify_date_fieldblock}
<div data-fieldname="cr_notify_date" class="rnr-field style1 {$fielddispclass_cr_notify_date}">
  <div class="rnr-label above">{BEGIN cr_notify_date_label}{$label rejected_jobfile cr_notify_date}{END cr_notify_date_label}</div>
  <div class="rnr-control style3">{$cr_notify_date_editcontrol}</div>
</div>
{END cr_notify_date_fieldblock}
	{BEGIN type_of_error_fieldblock}
<div data-fieldname="type_of_error" class="rnr-field style1 {$fielddispclass_type_of_error}">
  <div class="rnr-label above">{BEGIN type_of_error_label}{$label rejected_jobfile type_of_error}{END type_of_error_label}</div>
  <div class="rnr-control style3">{$type_of_error_editcontrol}</div>
</div>
{END type_of_error_fieldblock}
	{BEGIN cr_comment_fieldblock}
<div data-fieldname="cr_comment" class="rnr-field style1 {$fielddispclass_cr_comment}">
  <div class="rnr-label above">{BEGIN cr_comment_label}{$label rejected_jobfile cr_comment}{END cr_comment_label}</div>
  <div class="rnr-control style3">{$cr_comment_editcontrol}</div>
</div>
{END cr_comment_fieldblock}
	{BEGIN screencap_fieldblock}
<div data-fieldname="screencap" class="rnr-field style1 {$fielddispclass_screencap}">
  <div class="rnr-label above">{BEGIN screencap_label}{$label rejected_jobfile screencap}{END screencap_label}</div>
  <div class="rnr-control style3">{$screencap_editcontrol}</div>
</div>
{END screencap_fieldblock}
</td>
</tr>
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
