<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel ShiftType search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_ShiftTypeId}">
	{BEGIN ShiftTypeId_fieldblock}		
	<td>
		{$label ShiftType ShiftTypeId}
	</td>
	<td>
		<input type="checkbox" {$ShiftTypeId_notbox}>
	</td>
	<td>
		{$searchtype_ShiftTypeId}
	</td>
	<td>
		{$ShiftTypeId_editcontrol}&nbsp;
	</td>
	<td>
		{$ShiftTypeId_editcontrol1}&nbsp;
	</td>
{END ShiftTypeId_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Description}">
	{BEGIN Description_fieldblock}		
	<td>
		{$label ShiftType Description}
	</td>
	<td>
		<input type="checkbox" {$Description_notbox}>
	</td>
	<td>
		{$searchtype_Description}
	</td>
	<td>
		{$Description_editcontrol}&nbsp;
	</td>
	<td>
		{$Description_editcontrol1}&nbsp;
	</td>
{END Description_fieldblock}
	</tr>
	<tr class="{$fielddispclass_StartTime}">
	{BEGIN StartTime_fieldblock}		
	<td>
		{$label ShiftType StartTime}
	</td>
	<td>
		<input type="checkbox" {$StartTime_notbox}>
	</td>
	<td>
		{$searchtype_StartTime}
	</td>
	<td>
		{$StartTime_editcontrol}&nbsp;
	</td>
	<td>
		{$StartTime_editcontrol1}&nbsp;
	</td>
{END StartTime_fieldblock}
	</tr>
	<tr class="{$fielddispclass_EndTime}">
	{BEGIN EndTime_fieldblock}		
	<td>
		{$label ShiftType EndTime}
	</td>
	<td>
		<input type="checkbox" {$EndTime_notbox}>
	</td>
	<td>
		{$searchtype_EndTime}
	</td>
	<td>
		{$EndTime_editcontrol}&nbsp;
	</td>
	<td>
		{$EndTime_editcontrol1}&nbsp;
	</td>
{END EndTime_fieldblock}
	</tr>
	<tr class="{$fielddispclass_DayInterval}">
	{BEGIN DayInterval_fieldblock}		
	<td>
		{$label ShiftType DayInterval}
	</td>
	<td>
		<input type="checkbox" {$DayInterval_notbox}>
	</td>
	<td>
		{$searchtype_DayInterval}
	</td>
	<td>
		{$DayInterval_editcontrol}&nbsp;
	</td>
	<td>
		{$DayInterval_editcontrol1}&nbsp;
	</td>
{END DayInterval_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
