<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}">	<h1>{$pagetitlelabel Team_Report masterreport}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-mastergridfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$team_class}">{$label Team_Report team}</th>
			<th class="{$group_id_class}">{$label Team_Report group_id}</th>
			<th class="{$user_picture_class}">{$label Team_Report user_picture}</th>
			<th class="{$username_class}">{$label Team_Report username}</th>
			<th class="{$employee_id_class}">{$label Team_Report employee_id}</th>
			<th class="{$email_class}">{$label Team_Report email}</th>
			<th class="{$phone_class}">{$label Team_Report phone}</th>
			<th class="{$mobile_class}">{$label Team_Report mobile}</th>
			<th class="{$fname_class}">{$label Team_Report fname}</th>
			<th class="{$lname_class}">{$label Team_Report lname}</th>
			<th class="{$nickname_class}">{$label Team_Report nickname}</th>
			<th class="{$user_status_class}">{$label Team_Report user_status}</th>
			<th class="{$department_id_class}">{$label Team_Report department_id}</th>
			<th class="{$subdiv_id_class}">{$label Team_Report subdiv_id}</th>
			<th class="{$images_assigned_class}">{$label Team_Report images_assigned}</th>
			<th class="{$ad_group_id_class}">{$label Team_Report ad_group_id}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$team_class}">{$team_mastervalue}</td>
			<td class="{$group_id_class}">{$group_id_mastervalue}</td>
			<td class="{$user_picture_class}">{$user_picture_mastervalue}</td>
			<td class="{$username_class}">{$username_mastervalue}</td>
			<td class="{$employee_id_class}">{$employee_id_mastervalue}</td>
			<td class="{$email_class}">{$email_mastervalue}</td>
			<td class="{$phone_class}">{$phone_mastervalue}</td>
			<td class="{$mobile_class}">{$mobile_mastervalue}</td>
			<td class="{$fname_class}">{$fname_mastervalue}</td>
			<td class="{$lname_class}">{$lname_mastervalue}</td>
			<td class="{$nickname_class}">{$nickname_mastervalue}</td>
			<td class="{$user_status_class}">{$user_status_mastervalue}</td>
			<td class="{$department_id_class}">{$department_id_mastervalue}</td>
			<td class="{$subdiv_id_class}">{$subdiv_id_mastervalue}</td>
			<td class="{$images_assigned_class}">{$images_assigned_mastervalue}</td>
			<td class="{$ad_group_id_class}">{$ad_group_id_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 




{END container_mastergrid}

</div>