<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}">	<h1>{$pagetitlelabel user masterlist}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-mastergridfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$user_id_class}">{$label user user_id}</th>
			<th class="{$user_picture_class}">{$label user user_picture}</th>
			<th class="{$employee_id_class}">{$label user employee_id}</th>
			<th class="{$username_class}">{$label user username}</th>
			<th class="{$team_class}">{$label user team}</th>
			<th class="{$department_id_class}">{$label user department_id}</th>
			<th class="{$subdiv_id_class}">{$label user subdiv_id}</th>
			<th class="{$group_id_class}">{$label user group_id}</th>
			<th class="{$ad_group_id_class}">{$label user ad_group_id}</th>
			<th class="{$designation_class}">{$label user designation}</th>
			<th class="{$fname_class}">{$label user fname}</th>
			<th class="{$lname_class}">{$label user lname}</th>
			<th class="{$nickname_class}">{$label user nickname}</th>
			<th class="{$email_class}">{$label user email}</th>
			<th class="{$phone_class}">{$label user phone}</th>
			<th class="{$mobile_class}">{$label user mobile}</th>
			<th class="{$emergency_contact1_class}">{$label user emergency_contact1}</th>
			<th class="{$emergency_contact2_class}">{$label user emergency_contact2}</th>
			<th class="{$permanent_address_class}">{$label user permanent_address}</th>
			<th class="{$current_address_class}">{$label user current_address}</th>
			<th class="{$date_of_birth_class}">{$label user date_of_birth}</th>
			<th class="{$male_female_class}">{$label user male_female}</th>
			<th class="{$joining_date_class}">{$label user joining_date}</th>
			<th class="{$user_status_class}">{$label user user_status}</th>
			<th class="{$images_assigned_class}">{$label user images_assigned}</th>
			<th class="{$log_class}">{$label user log}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$user_id_class}">{$user_id_mastervalue}</td>
			<td class="{$user_picture_class}">{$user_picture_mastervalue}</td>
			<td class="{$employee_id_class}">{$employee_id_mastervalue}</td>
			<td class="{$username_class}">{$username_mastervalue}</td>
			<td class="{$team_class}">{$team_mastervalue}</td>
			<td class="{$department_id_class}">{$department_id_mastervalue}</td>
			<td class="{$subdiv_id_class}">{$subdiv_id_mastervalue}</td>
			<td class="{$group_id_class}">{$group_id_mastervalue}</td>
			<td class="{$ad_group_id_class}">{$ad_group_id_mastervalue}</td>
			<td class="{$designation_class}">{$designation_mastervalue}</td>
			<td class="{$fname_class}">{$fname_mastervalue}</td>
			<td class="{$lname_class}">{$lname_mastervalue}</td>
			<td class="{$nickname_class}">{$nickname_mastervalue}</td>
			<td class="{$email_class}">{$email_mastervalue}</td>
			<td class="{$phone_class}">{$phone_mastervalue}</td>
			<td class="{$mobile_class}">{$mobile_mastervalue}</td>
			<td class="{$emergency_contact1_class}">{$emergency_contact1_mastervalue}</td>
			<td class="{$emergency_contact2_class}">{$emergency_contact2_mastervalue}</td>
			<td class="{$permanent_address_class}">{$permanent_address_mastervalue}</td>
			<td class="{$current_address_class}">{$current_address_mastervalue}</td>
			<td class="{$date_of_birth_class}">{$date_of_birth_mastervalue}</td>
			<td class="{$male_female_class}">{$male_female_mastervalue}</td>
			<td class="{$joining_date_class}">{$joining_date_mastervalue}</td>
			<td class="{$user_status_class}">{$user_status_mastervalue}</td>
			<td class="{$images_assigned_class}">{$images_assigned_mastervalue}</td>
			<td class="{$log_class}">{$log_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 




{END container_mastergrid}

</div>