<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fview} rnr-wrapper rnr-cbw-fview">

{BEGIN container_fview}
<div class="rnr-c rnr-cv rnr-c-fview">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel user1 view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields4_atop {$brickclass_viewfields4_atop}"><table class="fieldGrid fieldGrid4">

<tr>
<td>
	{BEGIN Description_fieldblock}
<div data-fieldname="Description" class="rnr-field style1 {$fielddispclass_Description}">
  <div class="rnr-label above">{$label user1 Description}:</div>
  <div class="rnr-control style3">{$Description_value}</div>
</div>
{END Description_fieldblock}
	{BEGIN ShiftTypeId_fieldblock}
<div data-fieldname="ShiftTypeId" class="rnr-field style1 {$fielddispclass_ShiftTypeId}">
  <div class="rnr-label above">{$label user1 ShiftTypeId}:</div>
  <div class="rnr-control style3">{$ShiftTypeId_value}</div>
</div>
{END ShiftTypeId_fieldblock}
	{BEGIN user_id_fieldblock}
<div data-fieldname="user_id" class="rnr-field style1 {$fielddispclass_user_id}">
  <div class="rnr-label above">{$label user1 user_id}:</div>
  <div class="rnr-control style3">{$user_id_value}</div>
</div>
{END user_id_fieldblock}
	{BEGIN user_picture_fieldblock}
<div data-fieldname="user_picture" class="rnr-field style1 {$fielddispclass_user_picture}">
  <div class="rnr-label above">{$label user1 user_picture}:</div>
  <div class="rnr-control style3">{$user_picture_value}</div>
</div>
{END user_picture_fieldblock}
	{BEGIN employee_id_fieldblock}
<div data-fieldname="employee_id" class="rnr-field style1 {$fielddispclass_employee_id}">
  <div class="rnr-label above">{$label user1 employee_id}:</div>
  <div class="rnr-control style3">{$employee_id_value}</div>
</div>
{END employee_id_fieldblock}
	{BEGIN username_fieldblock}
<div data-fieldname="username" class="rnr-field style1 {$fielddispclass_username}">
  <div class="rnr-label above">{$label user1 username}:</div>
  <div class="rnr-control style3">{$username_value}</div>
</div>
{END username_fieldblock}
	{BEGIN team_fieldblock}
<div data-fieldname="team" class="rnr-field style1 {$fielddispclass_team}">
  <div class="rnr-label above">{$label user1 team}:</div>
  <div class="rnr-control style3">{$team_value}</div>
</div>
{END team_fieldblock}
</td>
<td>
	{BEGIN subdiv_id_fieldblock}
<div data-fieldname="subdiv_id" class="rnr-field style1 {$fielddispclass_subdiv_id}">
  <div class="rnr-label above">{$label user1 subdiv_id}:</div>
  <div class="rnr-control style3">{$subdiv_id_value}</div>
</div>
{END subdiv_id_fieldblock}
	{BEGIN group_id_fieldblock}
<div data-fieldname="group_id" class="rnr-field style1 {$fielddispclass_group_id}">
  <div class="rnr-label above">{$label user1 group_id}:</div>
  <div class="rnr-control style3">{$group_id_value}</div>
</div>
{END group_id_fieldblock}
	{BEGIN ad_group_id_fieldblock}
<div data-fieldname="ad_group_id" class="rnr-field style1 {$fielddispclass_ad_group_id}">
  <div class="rnr-label above">{$label user1 ad_group_id}:</div>
  <div class="rnr-control style3">{$ad_group_id_value}</div>
</div>
{END ad_group_id_fieldblock}
	{BEGIN designation_fieldblock}
<div data-fieldname="designation" class="rnr-field style1 {$fielddispclass_designation}">
  <div class="rnr-label above">{$label user1 designation}:</div>
  <div class="rnr-control style3">{$designation_value}</div>
</div>
{END designation_fieldblock}
	{BEGIN fname_fieldblock}
<div data-fieldname="fname" class="rnr-field style1 {$fielddispclass_fname}">
  <div class="rnr-label above">{$label user1 fname}:</div>
  <div class="rnr-control style3">{$fname_value}</div>
</div>
{END fname_fieldblock}
	{BEGIN lname_fieldblock}
<div data-fieldname="lname" class="rnr-field style1 {$fielddispclass_lname}">
  <div class="rnr-label above">{$label user1 lname}:</div>
  <div class="rnr-control style3">{$lname_value}</div>
</div>
{END lname_fieldblock}
	{BEGIN nickname_fieldblock}
<div data-fieldname="nickname" class="rnr-field style1 {$fielddispclass_nickname}">
  <div class="rnr-label above">{$label user1 nickname}:</div>
  <div class="rnr-control style3">{$nickname_value}</div>
</div>
{END nickname_fieldblock}
</td>
<td>
	{BEGIN email_fieldblock}
<div data-fieldname="email" class="rnr-field style1 {$fielddispclass_email}">
  <div class="rnr-label above">{$label user1 email}:</div>
  <div class="rnr-control style3">{$email_value}</div>
</div>
{END email_fieldblock}
	{BEGIN phone_fieldblock}
<div data-fieldname="phone" class="rnr-field style1 {$fielddispclass_phone}">
  <div class="rnr-label above">{$label user1 phone}:</div>
  <div class="rnr-control style3">{$phone_value}</div>
</div>
{END phone_fieldblock}
	{BEGIN mobile_fieldblock}
<div data-fieldname="mobile" class="rnr-field style1 {$fielddispclass_mobile}">
  <div class="rnr-label above">{$label user1 mobile}:</div>
  <div class="rnr-control style3">{$mobile_value}</div>
</div>
{END mobile_fieldblock}
	{BEGIN emergency_contact1_fieldblock}
<div data-fieldname="emergency_contact1" class="rnr-field style1 {$fielddispclass_emergency_contact1}">
  <div class="rnr-label above">{$label user1 emergency_contact1}:</div>
  <div class="rnr-control style3">{$emergency_contact1_value}</div>
</div>
{END emergency_contact1_fieldblock}
	{BEGIN emergency_contact2_fieldblock}
<div data-fieldname="emergency_contact2" class="rnr-field style1 {$fielddispclass_emergency_contact2}">
  <div class="rnr-label above">{$label user1 emergency_contact2}:</div>
  <div class="rnr-control style3">{$emergency_contact2_value}</div>
</div>
{END emergency_contact2_fieldblock}
	{BEGIN permanent_address_fieldblock}
<div data-fieldname="permanent_address" class="rnr-field style1 {$fielddispclass_permanent_address}">
  <div class="rnr-label above">{$label user1 permanent_address}:</div>
  <div class="rnr-control style3">{$permanent_address_value}</div>
</div>
{END permanent_address_fieldblock}
	{BEGIN current_address_fieldblock}
<div data-fieldname="current_address" class="rnr-field style1 {$fielddispclass_current_address}">
  <div class="rnr-label above">{$label user1 current_address}:</div>
  <div class="rnr-control style3">{$current_address_value}</div>
</div>
{END current_address_fieldblock}
</td>
<td>
	{BEGIN date_of_birth_fieldblock}
<div data-fieldname="date_of_birth" class="rnr-field style1 {$fielddispclass_date_of_birth}">
  <div class="rnr-label above">{$label user1 date_of_birth}:</div>
  <div class="rnr-control style3">{$date_of_birth_value}</div>
</div>
{END date_of_birth_fieldblock}
	{BEGIN male_female_fieldblock}
<div data-fieldname="male_female" class="rnr-field style1 {$fielddispclass_male_female}">
  <div class="rnr-label above">{$label user1 male_female}:</div>
  <div class="rnr-control style3">{$male_female_value}</div>
</div>
{END male_female_fieldblock}
	{BEGIN joining_date_fieldblock}
<div data-fieldname="joining_date" class="rnr-field style1 {$fielddispclass_joining_date}">
  <div class="rnr-label above">{$label user1 joining_date}:</div>
  <div class="rnr-control style3">{$joining_date_value}</div>
</div>
{END joining_date_fieldblock}
	{BEGIN user_status_fieldblock}
<div data-fieldname="user_status" class="rnr-field style1 {$fielddispclass_user_status}">
  <div class="rnr-label above">{$label user1 user_status}:</div>
  <div class="rnr-control style3">{$user_status_value}</div>
</div>
{END user_status_fieldblock}
	{BEGIN images_assigned_fieldblock}
<div data-fieldname="images_assigned" class="rnr-field style1 {$fielddispclass_images_assigned}">
  <div class="rnr-label above">{$label user1 images_assigned}:</div>
  <div class="rnr-control style3">{$images_assigned_value}</div>
</div>
{END images_assigned_fieldblock}
	{BEGIN log_fieldblock}
<div data-fieldname="log" class="rnr-field style1 {$fielddispclass_log}">
  <div class="rnr-label above">{$label user1 log}:</div>
  <div class="rnr-control style3">{$log_value}</div>
</div>
{END log_fieldblock}
</td>
</tr>
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Edit</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_fview}

</div>


</div>
{END container_view}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
