<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}



{BEGIN container_master}
<div class="rnr-c rnr-ch rnr-c-master">

{BEGIN mastertable_block}
<div  class="style1 rnr-bl rnr-b-masterinfoprint {$brickclass_masterinfoprint}">{$showmasterfile}
</div>
{END mastertable_block}

<div class="rnr-hfiller"></div>
</div>
{END container_master}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">

{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel user print}</h1>
</div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN user_id_fieldheadercolumn}
<th class="runner-cc {$user_id_class}" {$user_id_style}>
	{BEGIN user_id_fieldheader}
	<b>{$label user user_id}</b>
	{END user_id_fieldheader}
</th>
{END user_id_fieldheadercolumn}
	{BEGIN user_picture_fieldheadercolumn}
<th class="runner-cc {$user_picture_class}" {$user_picture_style}>
	{BEGIN user_picture_fieldheader}
	<b>{$label user user_picture}</b>
	{END user_picture_fieldheader}
</th>
{END user_picture_fieldheadercolumn}
	{BEGIN employee_id_fieldheadercolumn}
<th class="runner-cc {$employee_id_class}" {$employee_id_style}>
	{BEGIN employee_id_fieldheader}
	<b>{$label user employee_id}</b>
	{END employee_id_fieldheader}
</th>
{END employee_id_fieldheadercolumn}
	{BEGIN username_fieldheadercolumn}
<th class="runner-cc {$username_class}" {$username_style}>
	{BEGIN username_fieldheader}
	<b>{$label user username}</b>
	{END username_fieldheader}
</th>
{END username_fieldheadercolumn}
	{BEGIN team_fieldheadercolumn}
<th class="runner-cc {$team_class}" {$team_style}>
	{BEGIN team_fieldheader}
	<b>{$label user team}</b>
	{END team_fieldheader}
</th>
{END team_fieldheadercolumn}
	{BEGIN department_id_fieldheadercolumn}
<th class="runner-cc {$department_id_class}" {$department_id_style}>
	{BEGIN department_id_fieldheader}
	<b>{$label user department_id}</b>
	{END department_id_fieldheader}
</th>
{END department_id_fieldheadercolumn}
	{BEGIN subdiv_id_fieldheadercolumn}
<th class="runner-cc {$subdiv_id_class}" {$subdiv_id_style}>
	{BEGIN subdiv_id_fieldheader}
	<b>{$label user subdiv_id}</b>
	{END subdiv_id_fieldheader}
</th>
{END subdiv_id_fieldheadercolumn}
	{BEGIN group_id_fieldheadercolumn}
<th class="runner-cc {$group_id_class}" {$group_id_style}>
	{BEGIN group_id_fieldheader}
	<b>{$label user group_id}</b>
	{END group_id_fieldheader}
</th>
{END group_id_fieldheadercolumn}
	{BEGIN ad_group_id_fieldheadercolumn}
<th class="runner-cc {$ad_group_id_class}" {$ad_group_id_style}>
	{BEGIN ad_group_id_fieldheader}
	<b>{$label user ad_group_id}</b>
	{END ad_group_id_fieldheader}
</th>
{END ad_group_id_fieldheadercolumn}
	{BEGIN designation_fieldheadercolumn}
<th class="runner-cc {$designation_class}" {$designation_style}>
	{BEGIN designation_fieldheader}
	<b>{$label user designation}</b>
	{END designation_fieldheader}
</th>
{END designation_fieldheadercolumn}
	{BEGIN fname_fieldheadercolumn}
<th class="runner-cc {$fname_class}" {$fname_style}>
	{BEGIN fname_fieldheader}
	<b>{$label user fname}</b>
	{END fname_fieldheader}
</th>
{END fname_fieldheadercolumn}
	{BEGIN lname_fieldheadercolumn}
<th class="runner-cc {$lname_class}" {$lname_style}>
	{BEGIN lname_fieldheader}
	<b>{$label user lname}</b>
	{END lname_fieldheader}
</th>
{END lname_fieldheadercolumn}
	{BEGIN nickname_fieldheadercolumn}
<th class="runner-cc {$nickname_class}" {$nickname_style}>
	{BEGIN nickname_fieldheader}
	<b>{$label user nickname}</b>
	{END nickname_fieldheader}
</th>
{END nickname_fieldheadercolumn}
	{BEGIN email_fieldheadercolumn}
<th class="runner-cc {$email_class}" {$email_style}>
	{BEGIN email_fieldheader}
	<b>{$label user email}</b>
	{END email_fieldheader}
</th>
{END email_fieldheadercolumn}
	{BEGIN phone_fieldheadercolumn}
<th class="runner-cc {$phone_class}" {$phone_style}>
	{BEGIN phone_fieldheader}
	<b>{$label user phone}</b>
	{END phone_fieldheader}
</th>
{END phone_fieldheadercolumn}
	{BEGIN mobile_fieldheadercolumn}
<th class="runner-cc {$mobile_class}" {$mobile_style}>
	{BEGIN mobile_fieldheader}
	<b>{$label user mobile}</b>
	{END mobile_fieldheader}
</th>
{END mobile_fieldheadercolumn}
	{BEGIN emergency_contact1_fieldheadercolumn}
<th class="runner-cc {$emergency_contact1_class}" {$emergency_contact1_style}>
	{BEGIN emergency_contact1_fieldheader}
	<b>{$label user emergency_contact1}</b>
	{END emergency_contact1_fieldheader}
</th>
{END emergency_contact1_fieldheadercolumn}
	{BEGIN emergency_contact2_fieldheadercolumn}
<th class="runner-cc {$emergency_contact2_class}" {$emergency_contact2_style}>
	{BEGIN emergency_contact2_fieldheader}
	<b>{$label user emergency_contact2}</b>
	{END emergency_contact2_fieldheader}
</th>
{END emergency_contact2_fieldheadercolumn}
	{BEGIN permanent_address_fieldheadercolumn}
<th class="runner-cc {$permanent_address_class}" {$permanent_address_style}>
	{BEGIN permanent_address_fieldheader}
	<b>{$label user permanent_address}</b>
	{END permanent_address_fieldheader}
</th>
{END permanent_address_fieldheadercolumn}
	{BEGIN current_address_fieldheadercolumn}
<th class="runner-cc {$current_address_class}" {$current_address_style}>
	{BEGIN current_address_fieldheader}
	<b>{$label user current_address}</b>
	{END current_address_fieldheader}
</th>
{END current_address_fieldheadercolumn}
	{BEGIN date_of_birth_fieldheadercolumn}
<th class="runner-cc {$date_of_birth_class}" {$date_of_birth_style}>
	{BEGIN date_of_birth_fieldheader}
	<b>{$label user date_of_birth}</b>
	{END date_of_birth_fieldheader}
</th>
{END date_of_birth_fieldheadercolumn}
	{BEGIN male_female_fieldheadercolumn}
<th class="runner-cc {$male_female_class}" {$male_female_style}>
	{BEGIN male_female_fieldheader}
	<b>{$label user male_female}</b>
	{END male_female_fieldheader}
</th>
{END male_female_fieldheadercolumn}
	{BEGIN joining_date_fieldheadercolumn}
<th class="runner-cc {$joining_date_class}" {$joining_date_style}>
	{BEGIN joining_date_fieldheader}
	<b>{$label user joining_date}</b>
	{END joining_date_fieldheader}
</th>
{END joining_date_fieldheadercolumn}
	{BEGIN user_status_fieldheadercolumn}
<th class="runner-cc {$user_status_class}" {$user_status_style}>
	{BEGIN user_status_fieldheader}
	<b>{$label user user_status}</b>
	{END user_status_fieldheader}
</th>
{END user_status_fieldheadercolumn}
	{BEGIN images_assigned_fieldheadercolumn}
<th class="runner-cc {$images_assigned_class}" {$images_assigned_style}>
	{BEGIN images_assigned_fieldheader}
	<b>{$label user images_assigned}</b>
	{END images_assigned_fieldheader}
</th>
{END images_assigned_fieldheadercolumn}
	{BEGIN log_fieldheadercolumn}
<th class="runner-cc {$log_class}" {$log_style}>
	{BEGIN log_fieldheader}
	<b>{$label user log}</b>
	{END log_fieldheader}
</th>
{END log_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN user_id_fieldcolumn}
<td  class="runner-cc {$user_id_class}" {$user_id_style} {$recordattrs}>
	{$user_id_value}
</td>
{END user_id_fieldcolumn}
	{BEGIN user_picture_fieldcolumn}
<td  class="runner-cc {$user_picture_class}" {$user_picture_style} {$recordattrs}>
	{$user_picture_value}
</td>
{END user_picture_fieldcolumn}
	{BEGIN employee_id_fieldcolumn}
<td  class="runner-cc {$employee_id_class}" {$employee_id_style} {$recordattrs}>
	{$employee_id_value}
</td>
{END employee_id_fieldcolumn}
	{BEGIN username_fieldcolumn}
<td  class="runner-cc {$username_class}" {$username_style} {$recordattrs}>
	{$username_value}
</td>
{END username_fieldcolumn}
	{BEGIN team_fieldcolumn}
<td  class="runner-cc {$team_class}" {$team_style} {$recordattrs}>
	{$team_value}
</td>
{END team_fieldcolumn}
	{BEGIN department_id_fieldcolumn}
<td  class="runner-cc {$department_id_class}" {$department_id_style} {$recordattrs}>
	{$department_id_value}
</td>
{END department_id_fieldcolumn}
	{BEGIN subdiv_id_fieldcolumn}
<td  class="runner-cc {$subdiv_id_class}" {$subdiv_id_style} {$recordattrs}>
	{$subdiv_id_value}
</td>
{END subdiv_id_fieldcolumn}
	{BEGIN group_id_fieldcolumn}
<td  class="runner-cc {$group_id_class}" {$group_id_style} {$recordattrs}>
	{$group_id_value}
</td>
{END group_id_fieldcolumn}
	{BEGIN ad_group_id_fieldcolumn}
<td  class="runner-cc {$ad_group_id_class}" {$ad_group_id_style} {$recordattrs}>
	{$ad_group_id_value}
</td>
{END ad_group_id_fieldcolumn}
	{BEGIN designation_fieldcolumn}
<td  class="runner-cc {$designation_class}" {$designation_style} {$recordattrs}>
	{$designation_value}
</td>
{END designation_fieldcolumn}
	{BEGIN fname_fieldcolumn}
<td  class="runner-cc {$fname_class}" {$fname_style} {$recordattrs}>
	{$fname_value}
</td>
{END fname_fieldcolumn}
	{BEGIN lname_fieldcolumn}
<td  class="runner-cc {$lname_class}" {$lname_style} {$recordattrs}>
	{$lname_value}
</td>
{END lname_fieldcolumn}
	{BEGIN nickname_fieldcolumn}
<td  class="runner-cc {$nickname_class}" {$nickname_style} {$recordattrs}>
	{$nickname_value}
</td>
{END nickname_fieldcolumn}
	{BEGIN email_fieldcolumn}
<td  class="runner-cc {$email_class}" {$email_style} {$recordattrs}>
	{$email_value}
</td>
{END email_fieldcolumn}
	{BEGIN phone_fieldcolumn}
<td  class="runner-cc {$phone_class}" {$phone_style} {$recordattrs}>
	{$phone_value}
</td>
{END phone_fieldcolumn}
	{BEGIN mobile_fieldcolumn}
<td  class="runner-cc {$mobile_class}" {$mobile_style} {$recordattrs}>
	{$mobile_value}
</td>
{END mobile_fieldcolumn}
	{BEGIN emergency_contact1_fieldcolumn}
<td  class="runner-cc {$emergency_contact1_class}" {$emergency_contact1_style} {$recordattrs}>
	{$emergency_contact1_value}
</td>
{END emergency_contact1_fieldcolumn}
	{BEGIN emergency_contact2_fieldcolumn}
<td  class="runner-cc {$emergency_contact2_class}" {$emergency_contact2_style} {$recordattrs}>
	{$emergency_contact2_value}
</td>
{END emergency_contact2_fieldcolumn}
	{BEGIN permanent_address_fieldcolumn}
<td  class="runner-cc {$permanent_address_class}" {$permanent_address_style} {$recordattrs}>
	{$permanent_address_value}
</td>
{END permanent_address_fieldcolumn}
	{BEGIN current_address_fieldcolumn}
<td  class="runner-cc {$current_address_class}" {$current_address_style} {$recordattrs}>
	{$current_address_value}
</td>
{END current_address_fieldcolumn}
	{BEGIN date_of_birth_fieldcolumn}
<td  class="runner-cc {$date_of_birth_class}" {$date_of_birth_style} {$recordattrs}>
	{$date_of_birth_value}
</td>
{END date_of_birth_fieldcolumn}
	{BEGIN male_female_fieldcolumn}
<td  class="runner-cc {$male_female_class}" {$male_female_style} {$recordattrs}>
	{$male_female_value}
</td>
{END male_female_fieldcolumn}
	{BEGIN joining_date_fieldcolumn}
<td  class="runner-cc {$joining_date_class}" {$joining_date_style} {$recordattrs}>
	{$joining_date_value}
</td>
{END joining_date_fieldcolumn}
	{BEGIN user_status_fieldcolumn}
<td  class="runner-cc {$user_status_class}" {$user_status_style} {$recordattrs}>
	{$user_status_value}
</td>
{END user_status_fieldcolumn}
	{BEGIN images_assigned_fieldcolumn}
<td  class="runner-cc {$images_assigned_class}" {$images_assigned_style} {$recordattrs}>
	{$images_assigned_value}
</td>
{END images_assigned_fieldcolumn}
	{BEGIN log_fieldcolumn}
<td  class="runner-cc {$log_class}" {$log_style} {$recordattrs}>
	{$log_value}
</td>
{END log_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
		{BEGIN details_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN details_record}
		<td  class="rnr-edge" colspan="27">
			{BEGIN details_table}
			{$details}
			{END details_table}
		</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
		{END details_record}
	</tr>
	{END details_row}
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
